<template lang="pug">
	.c-menu
		.c-menu__container
			.c-menu__categories
				icon-chevron.c-menu__chevron
				.c-menu__category-wrapper(v-for="(category, index) in categories", :key="index")
					button.c-menu__category(:style="{'background-image': 'url(' + category.background + ')'}")
						img.c-menu__icon.c-menu__icon--dark(:src="category.iconDark")
						img.c-menu__icon.c-menu__icon--light(:src="category.iconLight")
						.c-menu__title(v-html="category.title")
						.c-menu__meta
							.c-menu__count-of-positions(v-html="getPositionsOfCategory(category).length + ' позиций'")
							.c-menu__min-price(v-html="'от ' + getMinPositionPriceOfCategory(category) + '₽'")
				.c-menu__category-wrapper
					a.c-menu__category.c-menu__category--file(:href="file.link", target="_blank", v-if="file")
						img.c-menu__icon.c-menu__icon--file(:src="file.icon")
						.c-menu__title Меню в PDF
						.c-menu__meta
							.c-menu__pdf-link Скачать
							.c-menu__min-price(v-html="humanizedFileSize")
</template>

<script>
	import "./c-menu.scss";
	
	export default {
		computed: {
			humanizedFileSize() {
				return Math.round(this.file.size / 1024 * 100) / 100 + ' MB';
			}
		},
		methods: {
			getMinPositionPriceOfCategory(category) {
				let positions = this.getPositionsOfCategory(category);
				
				return Math.min.apply(Math, positions);
			},
			getPositionsOfCategory(category) {
				let count = [];
				
				(category.positions || []).map(item => {
					count.push(Number(item.price));
				});
				
				if (category.hasOwnProperty('groups')) {
					category.groups.map(group => {
						group.positions.map(item => {
							count.push(Number(item.price));
						})
					});
				}
				
				return count;
			}
		},
		props: {
			categories: Array,
			file: Object
		}
	}
</script>