@import "css-utils";

.c-menu {
	$root: &;
	background: #f7f7f7;
	&__categories {
		display: flex;
		justify-content: flex-start;
		margin-left: -20px;
		align-items: center;
		padding-top: 34px;
		padding-bottom: 45px;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		
		@media(min-width: $lt2) {
			padding-top: 30px;
			padding-bottom: 50px;
		}
		
		@media(min-width: $md1) {
			margin: 0;
			padding-top: 55px;
			padding-bottom: 90px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 40px;
			overflow-x: visible;
			-webkit-overflow-scrolling: initial;
		}
		
		@media(min-width: $md1-5) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	
	&__container {
		@media(min-width: $md1) {
			@include container;
		}
	}
	
	&__chevron {
		width: 7px;
		height: 12px;
		transform: rotate(180deg);
		fill: transparentize($black, .9);
		flex-shrink: 0;
		margin-right: -8px;
		margin-left: 34px;
		
		@media(min-width: $lt1) {
			margin-left: 38px;
		}
		
		@media(min-width: $lt2) {
			margin-left: 62px;
		}
		
		@media(min-width: $xs) {
			margin-left: 101px;
		}
		
		@media(min-width: $md1) {
			display: none;
		}
	}
	
	&__category {
		margin-left: 20px;
		
		height: 150px;
		width: 226px;
		border-radius: 5px;
		flex-shrink: 0;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		
		padding: 26px 20px;
		
		&:not(&--file) {
			box-shadow: 0 4px 15px 0 transparentize($black, .9);
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: transparentize($black, .6);
				border-radius: inherit;
			}
			
			> * {
				z-index: 1
			}
			
			&:not(:hover) {
				background: $white !important;
				
				&:before {
					opacity: 0;
				}
				
				#{$root}__icon--light {
					display: none;
				}
			}
			
			&:hover {
				background: $black no-repeat center;
				background-size: cover;
				
				box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.35);
				
				#{$root}__title,
				#{$root}__count-of-positions,
				#{$root}__min-price {
					color: $white;
				}
				
				#{$root}__min-price {
					&:before {
						background: $white;
					}
				}
				
				#{$root}__icon--dark {
					display: none;
				}
			}
		}
		
		&--file {
			box-shadow: 0 0 0 1px #e5e5e5;
		}
		
		@media(min-width: $lt2) {
			height: 170px;
			width: 246px;
			margin-left: 25px;
		}
		
		@media(min-width: $md1) {
			margin-left: 0;
		}
		
		@media(min-width: $md1-5) {
			width: 300px;
			height: 180px;
		}
		
		&-wrapper {
			&:nth-last-child(1) {
				padding-right: 34px;
				
				@media(min-width: $lt1) {
					padding-right: 38px;
				}
				
				@media(min-width: $lt2) {
					padding-right: 62px;
				}
				
				@media(min-width: $xs) {
					padding-right: 101px;
				}
			}
			
			@media(min-width: $md1) {
				padding-right: 0 !important;
			}
		}
	}
	
	&__icon {
		position: absolute;
		top: 52px;
		left: 31px;
		display: block;
		
		&--file {
			max-height: 24px;
			max-width: 18px;
		}
		
		@media(min-width: $md1-5) {
		
		}
	}
	
	&__title {
		font-weight: 600;
		line-height: 1.11;
		color: $black;
	}
	
	&__meta {
		display: flex;
		align-items: center;
		margin-top: 5px;
	}
	
	&__pdf-link {
		position: relative;
		line-height: 1 !important;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			margin-top: 2px;
			height: 1px;
			background: $black;
		}
	}
	
	&__count-of-positions, &__pdf-link {
		font-size: .7777777778rem;
		font-weight: 500;
		line-height: 1.43;
		color: transparentize($black, .55);
	}
	
	&__min-price {
		display: flex;
		align-items: center;
		&:before {
			content: '';
			display: block;
			height: 4px;
			width: 4px;
			border-radius: 100%;
			background: transparentize($black, .7);
			margin: 0 10px;
		}
		font-size: .7777777778rem;
		font-weight: 500;
		line-height: 1.43;
		color: transparentize($black, .55);
	}
}