<template lang="pug">
    router-link.search-info(:to="item.link")
        .search-info__icon.search-info__icon--small(:style="{'background-image': 'url(' + item.iconDarkBg + ')'}")
        .search-info__icon.search-info__icon--large(:style="{'background-image': 'url(' + item.iconLightBg + ')'}")
        .search-info__title(v-html="item.title")
        .search-info__address(v-html="item.address")
        .search-info__phone-wrapper
            .search-info__phone(v-html="item.phone")
            button.search-info__map
                span Показать на карте
        .search-info__workTime(v-html="item.workTime.replace('\\n', '<br>')")
</template>

<script>
    import "./search-info.scss";

    export default {
        props: [
            'item'
        ]
    }
</script>