@import "css-utils";

.search-info {
	padding: 20px;
	box-shadow: 0 0 0 1px transparentize($white, .7);
	border-radius: 5px;
	display: flex;
	flex-direction: column;

	@media(min-width: $md) {
		padding: 36px;
		box-shadow: 0 0 0 1px #e5e5e5;
	}
	
	&__icon {
		height: 25px;
		width: 22px;
		background: no-repeat left center;
		background-size: cover;


		@media(min-width: $md) {
			height: 35px;
			width: 30px;
			&--small {
				display: none;
			}
		}

		@media(max-width: #{$md - 1}) {
			&--large {
				display: none;
			}
		}
	}
	
	&__title {
		margin-top: 24px;
		color: $white;
		font-weight: 600;
		line-height: 1.11;

		@media(min-width: $md) {
			margin-top: 35px;
			color: $black;
		}
	}
	
	&__address {
		margin-top: 10px;
		opacity: .45;
		font-size: .7777777777778rem;
		line-height: 1.43;
		color: $white;

		@media(min-width: $md) {
			margin-top: 3px;
			color: $black;
		}
	}

	&__phone-wrapper {
		margin-top: 5px;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		@media(min-width: $md) {
			margin-top: 15px;
		}
	}
	
	&__phone,
	&__map span {
		position: relative;
		font-size: .777777777778rem;
		font-weight: 500;
		color: $white;

		@media(min-width: $md) {
			color: $black;
		}
		
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			height: 1px;
			opacity: .3;
			border-radius: 1px;
			background: $white;

			@media(min-width: $md) {
				background: $black;
			}
		}
	}

	&__phone {
		line-height: 1.43;
	}

	&__map {
		display: flex;
		align-items: center;
		margin-left: 10px;
		&:before {
			content: '';
			height: 4px;
			width: 4px;
			background: $black;
			opacity: .3;
			border-radius: 100%;
			margin-right: 10px;
		}
		@media(max-width: #{$md - 1}) {
			display: none;
		}
		span {
			line-height: 1.43;
		}
	}
	
	&__workTime {
		margin-top: 10px;
		opacity: .45;
		font-size: .7777777777778rem;
		line-height: 1.43;
		color: $white;


		@media(min-width: $md) {
			margin-top: 15px;
			color: $black;
		}
	}
}