<template lang="pug">
	#app.app
		sidebar.app__sidebar
		.app__content
			router-view
			component-footer(v-bind="footerObject")
		.page-controls(:class="{'page-controls--active': activeControls}")
			button.page-controls__control.page-controls__close(@click.stop="activeControls = false") Close controls until next page refresh
			button.page-controls__control(@click.stop="$store.state.activeSidebar = !$store.state.activeSidebar") Toggle sidebar {{$store.state.activeSidebar ? 'off' : 'on'}}
			<!--router-link.page-controls__control(:to="{name: 'index'}", exact-active-class="page-controls__control&#45;&#45;active") Go to index-->
			router-link.page-controls__control(:to="{name: 'blog'}", exact-active-class="page-controls__control--active") Go to blog
			router-link.page-controls__control(v-for="(route, index) in routes.custom", :key="index", :to="route.route", exact-active-class="page-controls__control--active") Go to custom "{{ route.title }}"
</template>

<style lang="scss">
	@import "css-utils";
	
	.page-controls {
		position: fixed;
		bottom: 10px;
		left: 10px;
		padding: 10px;
		background: white;
		z-index: 10000;
		
		&:not(&--active) {
			display: none;
		}
		
		&:not(:hover) {
			opacity: .3;
		}
		
		&__control {
			display: block;
			
			&:not(:nth-child(1)) {
				margin-top: 10px;
			}
			&--active {
				/*display: none;*/
			}
		}
		
		&__close {
			color: #a90000;
		}
	}
</style>

<script>
	import sidebar from "./partials/sidebar/sidebar.vue";
	
	import Vue from 'vue';
	
	Vue.component('form-group', require('./partials/form/group.vue').default);
	Vue.component('field-text', require('./partials/form/field-text.vue').default);
	Vue.component('field-radio', require('./partials/form/field-radio.vue').default);
	Vue.component('field-textarea', require('./partials/form/field-textarea.vue').default);
	
	Vue.component('post-preview', require('./partials/previews/post-preview/post-preview.vue').default);
	
	[
		'header',
		'delimiter',
		'article',
		'cases',
		'case',
		'feedback',
		'poster',
		'team',
		'partners',
		'loyalty',
		'footer',
		'slider',
		'outsourcing',
		'map',
		'menu'
	].map(item => {
		Vue.component('component-' + item, require('./components/c-' + item + '/c-' + item + '.vue').default);
	});
	
	Vue.mixin({
		methods: {
			openSidebar(tab) {
				this.$store.state.activeSidebar = true;
				if (['search', 'projects', 'feedback'].indexOf(tab) > -1) {
					this.$store.state.activeSidebarTab = tab;
				}
			},
			scrollToPx(position) {
				window.scrollTo(0, position);
			}
		}
	});
	
	export default {
		watch: {
			'$route'(to, from) {
				this.$store.state.previousRoute = Object.assign({}, from);
			}
		},
		data() {
			return {
				activeControls: true,
				routes: require('../resources/pseudo-api/pages').default.response,
				footerObject: require('../resources/pseudo-api/footer').default.response,
			}
		},
		components: {
			sidebar: sidebar
		}
	}
</script>