@import "css-utils";

.c-cases {
	position: relative;
	
	background: #f7f7f7;
	
	&:before {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;
		height: 56px;
		display: block;
		background: inherit;
		z-index: -1;
		
		@media(min-width: $lt2) {
			height: 70px;
		}
		
		@media(min-width: $md1) {
			height: 110px;
		}
	}
	
	&__container {
		@include container;
		
		@media(min-width: $md1) {
			max-width: 856px;
		}
		
		@media(min-width: $md1-5) {
			max-width: 912px;
		}
		
		@media(min-width: $md2) {
			max-width: 961px;
		}
		
		@media(min-width: $xlg) {
			max-width: 1123px;
		}
	}
}