<template lang="pug">
	.c-cases
		.c-cases__container
			component-case(v-for="(item, index) in cases", :key="index", v-bind="item")
</template>

<script>
	import "./c-cases.scss"
	
	export default {
		props: {
			cases: Array
		}
	}
</script>