@import "css-utils";

.blog {
	&__posts {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		margin-top: -5px;
		padding-bottom: 39px;
		
		@media(min-width: $md) {
			margin-top: 0;
			padding-top: 15px;
		}
	}
	
	&__post {
		flex-grow: 1;
		flex-shrink: 0;
		
		padding-top: 39px;
		
		@media(min-width: $md) {
			padding-top: 67px;
		}
		
		&.post-preview {
			&:not(.post-preview--primary) {
				margin-left: 22px;
				margin-right: 22px;
				
				@media(min-width: $lt1) {
					margin-left: 26px;
					margin-right: 26px;
				}
			}
			&.post-preview--primary {
				padding-left: 22px;
				padding-right: 22px;
				
				@media(max-width: #{$md - 1}) {
					margin-top: 39px;
				}
				
				@media(min-width: $lt1) {
					padding-left: 26px;
					padding-right: 26px;
				}
			}
		}
	}
	
	&__loader {
		padding: 33px 22px 30px;
		@media(min-width: $lt1) {
			padding: 33px 26px 30px;
		}
		background: rgb(29, 29, 29);
		
		$loader: &;
		
		&--mobile {
			#{$loader} {
				&-button {
					display: none;
				}
			}
		}
		
		&:not(&--mobile) {
			#{$loader} {
				&-hint {
					display: none;
				}
			}
		}
	}
	
	&__loader-icon {
		height: 20px;
		width: 20px;
		fill: transparentize($white, .5);
		flex-shrink: 0;
		
		@media(min-width: $md) {
			height: 22px;
			width: 22px;
		}
	}
	
	&__loader-label {
		font-weight: 600;
		line-height: 1.11;
		color: $white;
		margin-left: 10px;
	}
	
	&__loader-container {
		@media(min-width: $md) {
			max-width: 960px;
			margin: 0 auto;
			flex-grow: 1;
		}
	}
	
	&__loader-hint {
		display: flex;
		align-items: center;
	}
	
	&__loader-button {
		display: flex;
		align-items: center;
	}
}