<template lang="pug">
	.blog
		.blog__posts
			post-preview.blog__post(v-for="(post, index) in posts", :key="index", :post="post")
		.blog__loader(:class="{'blog__loader--active': loading, 'blog__loader--mobile': isMobile}", ref="loader")
			.blog__loader-container
				.blog__loader-hint
					icon-loader.blog__loader-icon
					.blog__loader-label Один момент...
				button.blog__loader-button(@click.prevent="fetchData")
					icon-plus.blog__loader-icon
					.blog__loader-label(v-html="!loading ? 'Загрузить еще статьи' : 'Один момент...'")  
</template>

<script>
	import "./Blog.scss";
	import isMobile from 'ismobilejs';
	
	export default {
		mounted() {
			this.fetchData(false);
			this.$store.state.pageTitle = 'Блог';
			this.$store.state.previousPageTitleReturn = 'к блогу';
			
			this.$nextTick(() => {
				this.scrollToPx(0);
			})
		},
		computed: {
			isMobile() {
				return false; //isMobile.any;
			}
		},
		methods: {
			fetchData(timeout = true) {
				if(timeout) {
					this.loading = true;
					
					setTimeout(() => {
						this.fetchData(false);
					}, 1500);
					
					return;
				}
				
				if(this.posts === null) {
					this.posts = [];
				}
				
				let posts = require('../../../resources/pseudo-api/posts').default;
				
				if(posts.status !== 200) {
					alert('Unable to load posts');
				}
				
				this.posts = this.posts.concat(posts.response);
				
				this.loading = false;
			}
		},
		data() {
			return {
				loading: false,
				posts: null
			}
		}
	}
</script>