<template lang="pug">
	.c-poster
		.c-poster__image(:style="{'background-image': 'url(' + image + ')'}")
</template>

<script>
	import "./c-poster.scss";
	
	export default {
		props: {
			image: String
		}
	}
</script>