<template lang="pug">
	article.c-team
		.c-team__container
			h2.c-team__title(v-html="title")
			p.c-team__content.c-team__content--main(v-html="description")
			.c-team__members
				.c-team__member(v-for="(member, index) in members", :key="index")
					.c-team__member-photo(:style="{'background-image': 'url(' + member.photo + ')'}")
					.c-team__member-info
						.c-team__member-name(v-html="member.name")
						.c-team__member-position(v-html="member.position")
			button.c-team__button
				icon-plus.c-team__button-icon
				.c-team__button-label Знакомимся
</template>

<script>
	import "./c-team.scss";
	
	export default {
		data() {
			return {
			}
		},
		props: {
			title: String,
			description: String,
			members: Array
		}
	}
</script>