@import "css-utils";

.c-team {
	padding: 17px 22px 40px;
	
	@media(min-width: $lt1) {
		padding-left: 26px;
		padding-right: 26px;
	}
	
	@media(min-width: $lt2) {
		padding-top: 20px;
	}
	
	@media(min-width: $md1) {
		padding-top: 39px;
		padding-left: 0;
		padding-right: 0;
	}
	
	@media(min-width: $md1) {
		padding-bottom: 86px;
	}
	
	&__container {
		@include container;
	}
	
	&__title {
		font-family: 'Playfair Display', serif;
		font-size: 1.444444444444rem;
		font-weight: bold;
		line-height: 1.35;
		
		@media(min-width: $lt2) {
			font-size: 2rem;
			line-height: 1.11;
		}
		
		@media(min-width: $md1) {
			font-size: 2.4444444444rem;
			line-height: 1.25;
		}
	}
	
	&__content {
		color: transparentize($black, .4);
		line-height: 1.39;
		margin-top: 14px;
		
		@media(max-width: #{$md1 - 1}) {
			display: none;
		}
		
		@media(min-width: $lt2) {
			margin-top: 21px;
		}
		
		@media(min-width: $md1) {
			margin-top: 25px;
			line-height: 1.67;
		}
	}
	
	&__members {
		display: grid;
		margin-top: 20px;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 15px;
		@media(min-width: $lt1) {
			grid-gap: 16px;
		}
		@media(min-width: $lt2) {
			grid-gap: 15px;
		}
		@media(min-width: $lt2) {
			margin-top: 27px;
		}
		
		@media(min-width: $md1) {
			margin-top: 56px;
				grid-template-columns: 1fr 1fr;
				width: 625px;
			grid-gap: 56px;
		}
		
		@media(min-width: $md1-5) {
			grid-template-columns: 1fr 1fr 1fr;
			width: 940px;
		}
	}
	
	&__member {
		flex-basis: 43px;
		flex-grow: 0;
		
		@media(max-width: #{$md1 - 1}) {
			&:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)) {
				display: none;
			}
		}
		
		@media(min-width: $md1) {
			display: flex;
			align-items: center;
		}
		
		&-photo {
			background: no-repeat center;
			background-size: cover;
			height: 43px;
			width: 43px;
			border-radius: 100%;
			
			@media(min-width: $lt1) {
				height: 14.613778vw;
				width: 14.613778vw;
				max-height: 70px;
				max-width: 70px;
			}
			
			@media(min-width: $lt2) {
				height: 48px;
				width: 48px;
			}
			
			@media(min-width: $xs) {
				height: 10.87267vw;
				width: 10.87267vw;
				max-height: 76px;
				max-width: 76px;
			}
			
			@media(min-width: $md1) {
				height: 73px;
				width: 73px;
				flex-shrink: 0;
			}
		}
		
		&-info {
			@media(max-width: #{$md1 - 1}) {
				display: none;
			}
			
			margin-left: 15px;
		}
		
		&-name {
			font-weight: 600;
			line-height: 1.11;
			color: $black;
		}
		
		&-position {
			margin-top: 1px;
			font-size: .7777777778rem;
			line-height: 1.43;
			color: transparentize($black, .55);
			white-space: nowrap;
		}
	}
	
	&__button {
		margin-top: 34px;
		display: flex;
		align-items: center;
		
		@media(min-width: $md1) {
			display: none;
		}
		
		@media(min-width: $lt2) {
			margin-top: 38px;
		}
	}
	
	&__button-icon {
		height: 22px;
		width: 22px;
		fill: transparentize($black, .7);
	}
	
	&__button-label {
		margin-left: 10px;
		font-weight: 600;
		line-height: 1.11;
	}
}