@import "css-utils";

.c-article {
	padding: 17px 22px 40px;
	
	position: relative;
	
	@media(min-width: $lt1) {
		padding-left: 26px;
		padding-right: 26px;
	}
	
	@media(min-width: $lt2) {
		padding-top: 20px;
	}
	
	@media(min-width: $md1) {
		padding-top: 39px;
		padding-left: 0;
		padding-right: 0;
	}
	
	@media(min-width: $md1) {
		padding-bottom: 86px;
	}
	
	&__container {
		@include container;
	}
	
	&__title {
		font-family: 'Playfair Display', serif;
		font-size: 1.444444444444rem;
		font-weight: bold;
		line-height: 1.35;
		
		@media(min-width: $lt2) {
			font-size: 2rem;
			line-height: 1.11;
		}
		
		@media(min-width: $md1) {
			font-size: 2.4444444444rem;
			line-height: 1.25;
		}
	}
	
	&__content {
		color: transparentize($black, .4);
		line-height: 1.39;
		margin-top: 14px;
		
		@media(min-width: $lt2) {
			margin-top: 21px;
		}
		
		@media(min-width: $md1) {
			margin-top: 25px;
		}
		
		@media(max-width: #{$md1 - 1}) {
			&--extended:not(&--active) {
				display: none;
			}
		}
		
		@media(min-width: $lg) {
			font-size: 1.1666666666666667rem;
			line-height: 1.67;
		}
	}
	
	&__button {
		margin-top: 27px;
		display: flex;
		align-items: center;
		
		@media(min-width: $md1) {
			display: none;
		}
	}
	
	&__button-icon {
		height: 22px;
		width: 22px;
		fill: $black;
	}
	
	&__button-label {
		margin-left: 10px;
		font-weight: 600;
		line-height: 1.11;
	}
	
	&__staff {
		display: flex;
		align-items: flex-start;
		//justify-content: space-between;
		//flex-wrap: wrap;
		margin: 56px -15px 0;
		
		@media(max-width: #{$md1 - 1}) {
			display: none;
		}
	}
	
	&__human {
		flex-basis: 33.333333333%;
		flex-shrink: 0;
		padding: 0 15px;
		max-width: 210px;
		&-photo {
			height: 120px;
			width: 120px;
			background: no-repeat center;
			background-size: cover;
			margin: 0 auto;
			border-radius: 100%;
		}
		
		&-name {
			margin-top: 19px;
			font-weight: 600;
			line-height: 1.11;
			color: $black;
			text-align: center;
		}
		
		&-position {
			margin-top: 9px;
			font-size: .7777777777778rem;
			line-height: 1.07;
			color: $black;
			text-align: center;
		}
	}
	
	&__cross {
		position: absolute;
		width: 260px;
		
		@media(max-width: #{$md1 - 1}) {
			display: none;
		}
		
		right: 67px;
		top: -1.22rem;
		
		&-title {
			margin: 0 40px;
			font-weight: 600;
			color: $black;
			padding-bottom: 12px;
			position: relative;
			
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 2px;
				border-radius: 2px 0 0 2px;
				display: block;
				background: $black;
			}
		}
		
		&-posts {
			padding: 43px 40px 40px;
			
			background: #f7f7f7;
			border-radius: 5px;
		}
		
		&-post {
			position: relative;
			
			&:not(:nth-child(1)) {
				margin-top: 52px;
			}
			
			&-image {
				height: 110px;
				background: no-repeat center;
				background-size: cover;
				border-radius: 5px;
			}
			
			&-bookmark {
				height: 36px;
				width: 36px;
				border-radius: 100%;
				background: white;
				box-shadow: 0 4px 15px 0 rgba(0,0,0,.15);
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: -9px;
				right: -9px;
				
				svg {
					height: 18px;
					width: 12px;
					fill: $black;
					display: block;
				}
			}
			
			&-description {
				margin-top: 20px;
				font-weight: 600;
				font-size: .777777777778rem;
				line-height: 1.43;
				color: $black;
			}
			
			&-link {
				display: inline-block;
				font-size: .7777777777778rem;
				color: transparentize($black, .55);
				line-height: 1.07;
				position: relative;
				margin-top: 13px;
				
				&:after {
					content: '';
					top: 100%;
					left: 0;
					right: 0;
					transform: translateY(2px);
					background: $black;
					height: 1px;
					display: block;
				}
			}
		}
	}
}