<template lang="pug">
	article.c-article
		.c-article__container
			h2.c-article__title(v-html="title")
			p.c-article__content.c-article__content--main(v-html="mainPart")
			p.c-article__content.c-article__content--extended(
				v-if="extendedPart",
				:class="{'c-article__content--active': active}",
				v-for="(part, index) in extendedPart",
				:key="index",
				v-html="part"
			)
			.c-article__staff(v-if="staff.length")
				.c-article__human(v-for="(human, index) in staff", :key="index")
					.c-article__human-photo(:style="{'background-image': 'url(' + human.photo + ')'}")
					.c-article__human-name(v-html="human.name")
					.c-article__human-position(v-html="human.position")
			button.c-article__button(@click="active = !active", v-if="extendedPart")
				icon-plus.c-article__button-icon
				.c-article__button-label(v-html="active ? 'Свернуть' : 'Читать далее'")
		.c-article__cross(v-if="crossPosts.length")
			.c-article__cross-title В нашем блоге
			.c-article__cross-posts
				.c-article__cross-post(v-for="(post, index) in crossPosts", :key="index")
					.c-article__cross-post-image(:style="{'background-image': 'url(' + post.image + ')'}")
					button.c-article__cross-post-bookmark(@click.prevent="false")
						icon-bookmark
					.c-article__cross-post-description(v-html="post.body")
					router-link.c-article__cross-post-link(
						:to="{name: 'blog-post', params: {id: post.id}}"
					) Читать статью в блоге
					
</template>

<script>
	import "./c-article.scss";
	
	export default {
		data() {
			return {
				active: false
			}
		},
		props: {
			title: String,
			mainPart: String,
			extendedPart: Array,
			staff: {
				type: Array,
				default() {
					return [];
				}
			},
			crossPosts: {
				type: Array,
				default() {
					return [];
				}
			}
		}
	}
</script>