<template lang="pug">
	router-link.search-project(
		:style="{'background-image': 'url(' + item.image + ')'}",
		:to="item.link",
		exact-active-class="search-project--active"
	)
		.search-project__icon.search-project__icon--light(:style="{'background-image': 'url(' + item.iconLight + ')'}", v-if="item.iconLight")
		.search-project__icon.search-project__icon--dark(:style="{'background-image': 'url(' + item.iconDark + ')'}", v-if="item.iconDark")
		.search-project__title(v-html="item.title")
		.search-project__description(v-html="item.description")
		.search-project__address(v-html="item.address", v-if="item.address")
		.search-project__hint
			.search-project__you-are-there Вы находитесь на этой странице
			button.search-project__close-menu(@click.stop="$store.state.activeSidebar = false")
				span Закрыть меню
</template>

<script>
	import "./search-project.scss";
	
	export default {
		props: [
			'item'
		]
	}
</script>