@import "css-utils";

.search-project {
	$root: &;
	position: relative;
	
	background: no-repeat center;
	background-size: cover;
	box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.5);
	
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
	min-height: 150px;
	border-radius: 5px;
	
	padding: 25px 20px;
	
	@media(min-width: $md) {
		min-height: 250px;
		padding: 36px 111px 36px 36px;
		box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	}
	
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		opacity: 0.7;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), $black);
		border-radius: inherit;
	}
	
	&:not(&--active) {
		&:hover {
			box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.5);
		}
	}
	
	@media(max-width: #{$md - 1}) {
		&__icon {
			&--dark {
				display: none;
			}
		}
	}
	
	@media(min-width: $md) {
		&--active {
			background: none !important;
			box-shadow: 0 0 0 1px #e5e5e5;
			
			&:before {
				display: none;
			}
			
			#{$root} {
				&__title {
					color: $black;
				}
				&__description {
					color: $black;
				}
				
				&__icon {
					&--light {
						display: none;
					}
				}
				
				&__address {
					display: none;
				}
			}
		}
		
		&:not(&--active) {
			#{$root} {
				&__hint {
					display: none;
				}
				
				&__icon {
					&--dark {
						display: none;
					}
				}
			}
		}
	}
	
	
	@media(max-width: #{$md - 1}) {
		&__hint,
		&__icon {
			display: none !important;
		}
	}
	
	&__icon {
		height: 40px;
		width: 40px;
		background: no-repeat left center;
		background-size: contain;
		margin-bottom: auto;
		position: relative;
		
		
		@media(min-width: $md) {
			height: 40px;
			width: 40px;
			&--small {
				display: none;
			}
		}
		
		@media(max-width: #{$md - 1}) {
			&--large {
				display: none;
			}
		}
	}
	
	&__title {
		position: relative;
		font-weight: 600;
		line-height: 1.11;
		color: $white;
	}
	
	&__description {
		position: relative;
		margin-top: 11px;
		font-size: .7777777777778rem;
		line-height: 1.43;
		color: $white;
		
		@media(min-width: $md) {
			margin-top: 10px;
			font-size: 1rem;
			line-height: 1.11;
		}
	}
	
	&__address {
		position: relative;
		margin-top: 10px;
		font-size: .7777777777778rem;
		line-height: 1.43;
		color: $white;
	}
	
	&__hint {
		display: flex;
		align-items: center;
		margin-top: 11px;
	}
	
	&__you-are-there {
		opacity: 0.5;
		font-size: .77777777777778rem;
		line-height: 1.43;
		color: $black;
	}
	
	&__close-menu {
		position: relative;
		display: flex;
		align-items: center;
		span {
			font-size: .777777777778rem;
			font-weight: 500;
			color: $black;
			position: relative;
			white-space: nowrap;
			
			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				height: 1px;
				opacity: .3;
				border-radius: 1px;
				background: $white;
				
				@media(min-width: $md) {
					background: $black;
				}
			}
		}
		
		&:before {
			content: '';
			height: 4px;
			width: 4px;
			background: $black;
			opacity: .3;
			border-radius: 100%;
			margin-right: 10px;
			margin-left: 10px;
		}
	}
}