@import "css-utils";

.c-partners {
	$root: &;
	padding: 17px 22px 48px;
	background: #f7f7f7;
	
	@media(min-width: $lt2) {
		padding-top: 20px;
		padding-bottom: 50px;
	}
	
	@media(min-width: $md1) {
		padding-left: 0;
		padding-right: 0;
	}
	
	&__container {
		@include container;
	}
	
	&__title {
		font-family: 'Playfair Display', serif;
		font-size: 1.444444444444rem;
		font-weight: 600;
		line-height: 1.35;
		color: $black;
		
		@media(min-width: $lt2) {
			font-size: 2rem;
			line-height: 1.11;
		}
		@media(min-width: $md1) {
			font-size: 2.444444444444rem;
			line-height: 1.25;
		}
	}
	
	&__description {
		margin-top: 14px;
		line-height: 1.39;
		color: transparentize($black, .4);
		
		@media(min-width: $lt2) {
			margin-top: 21px;
			font-size: 1rem;
		}
		
		@media(min-width: $md1) {
			margin-top: 25px;
			line-height: 1.67;
		}
	}
	
	&__partners {
		padding-top: 35px;
		position: relative;
		
		#{$root}__container {
			@media(min-width: $md1) {
				margin-right: 6.875%;
				max-width: none;
			}
		}
		
		@media(min-width: $md1) {
			padding-top: 23px;
		}
	}
	
	&__control {
		position: absolute;
		top: 35px;
		bottom: 0;
		width: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		
		@media(min-width: $md1) {
			display: none;
		}
		
		
		&--next {
			transform: translateX(10px);
			right: 0;
		}
		
		&--previous {
			transform: translateX(-10px);
			left: 0;
			cursor: pointer;
			
			svg {
				transform: rotate(-180deg);
			}
		}
		
		svg {
			height: 12px;
			width: 7px;
			display: block;
			fill: $black;
		}
		
		&:not(:hover) {
			svg {
				opacity: .1;
			}
		}
	}
	
	&__list {
		display: flex;
		justify-content: center;
		
		@media(max-width: #{$md1 - 1}) {
			margin: 0 -12.5px;
		}
		
		@media(min-width: $md1) {
			flex-wrap: wrap;
			margin: 0 -24px;
		}
	}
	
	&__partner {
		@media(max-width: #{$lt2 - 1}) {
			
			&:not(&--active-one) {
				display: none;
			}
		}
		
		@media(min-width: $md1) {
			width: percentage(4/12);
			padding: 0 24px;
			margin-top: 39px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
		
		@media(max-width: #{$md1 - 1}) {
			
			&:not(&--active-two) {
				display: none;
			}
			
			width: 50%;
			padding: 0 12.5px;
		}
		
		@media(max-width: #{$lt2 - 2}) {
			width: 100%;
		}
		
		&-logo {
			margin: 0 auto;
			max-width: 177px;
			display: block;
			
			@media(min-width: $lt1) {
				max-width: 188px;
			}
			
			@media(min-width: $lt2) {
				max-width: 100%;
			}
			
			@media(min-width: $md1) {
				margin: 0;
			}
		}
		
		&-description {
			@media(max-width: $md1) {
				display: none;
			}
			
			margin-top: 23px;
			font-size: .777777778rem;
			color: transparentize($black, .4);
			line-height: 1.43;
			
			max-height: #{.7777777777778 * 3 * 1.43}rem;
			
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}