<template lang="pug">
	.c-partners
		.c-partners__container
			.c-partners__title(v-html="title")
			.c-partners__description(v-html="description")
		.c-partners__partners
			.c-partners__container
				button.c-partners__control.c-partners__control--previous(@click="currentSlide = currentSlide === 0 ? partners.length - 1 : currentSlide - 1")
					icon-chevron
				.c-partners__list
					.c-partners__partner(
						v-for="(partner, index) in partners",
						:key="index",
						:class="{'c-partners__partner--active-one': currentSlide === index, 'c-partners__partner--active-two': currentSlide === index || currentSlide + 1 === index || (currentSlide === (partners.length - 1) ? index === 0 : false)}",
					)
						.c-partneres__partner-logo-wrapper
							img.c-partners__partner-logo(:src="partner.logo")
						.c-partners__partner-description(v-html="partner.description")
				button.c-partners__control.c-partners__control--next(@click="currentSlide = currentSlide === partners.length - 1 ? 0 : currentSlide + 1")
					icon-chevron
</template>

<script>
	import "./c-partners.scss";
	
	export default {
		data() {
			return {
				currentSlide: 0
			}
		},
		props: {
			title: String,
			description: String,
			partners: {
				type: Array,
				default() {
					return [];
				}
			}
		}
	}
</script>