@import "./utilities/index";

* {
	padding: 0;
	margin: 0;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: default;
	box-sizing: border-box;
	border-radius: 0;
	text-decoration: none;
}

:root {
	font-family: 'Gill Sans', sans-serif;
	font-size: 18px;
	line-height: 1.22;
	
	-webkit-text-size-adjust: 100%;
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

input, textarea, button, select {
	font: inherit;
}