<template lang="pug">
	.search
		.search__input
			input.search__control(
				v-model="query",
				placeholder="Введите слово или фразу...",
				name="query",
				id="search-query",
				spellcheck="false"
			)
			.search__loader(:class="{'search__loader--active': loading}")
				icon-loader
			button.search__clear(
				:class="{'search__clear--active': isLoaded}",
				@click="query = ''; data = []"
			)
				icon-delete
		.search__placeholders(v-if="isInitial")
			.search__placeholder(v-for="(placeholder, index) in placeholders")
				.search__placeholder-icon(:class="'search__placeholder-icon--' + placeholder.icon")
					component(:is="'icon-' + placeholder.icon")
				.search__placeholder-content
					.search__placeholder-title(v-html="placeholder.title")
					.search__placeholder-description(v-html="placeholder.description")
		.search__results(v-if="isNotEmptyLoaded")
			.search__group(v-for="(groupKey, index) in dataGroupsOrder", :key="index")
				.search__title
					.search__title-text(v-html="titles[groupKey]")
					.search__count
						span(v-html="dataGroups[groupKey].length")
				.search__items
					component.search__item(
						:is="'search-' + groupKey",
						v-for="(item, subIndex) in dataGroups[groupKey]",
						:key="subIndex",
						:item="item.meta"
					)
			
		.search__hint.search__hint--small(v-if="isInitial") Ищите проекты, статьи в блоге, информацию о заведениях, позиции<br>в меню и членов команды.
		.search__hint-title(v-if="isEmptyLoaded") Ничего не найдено
		.search__hint(v-if="isEmptyLoaded") К сожалению, по вашему запросу<br>мы не смогли ничего найти.
		button.search__retry(v-if="isEmptyLoaded") Попробовать еще раз
</template>

<script>
	import "./search.scss";
	
	export default {
		components: {
			'search-project': require('./search-project/search-project.vue').default,
			'search-position': require('./search-position/search-position.vue').default,
			'search-teammate': require('./search-teammate/search-teammate.vue').default,
			'search-info': require('./search-info/search-info.vue').default,
			'search-post': require('./search-post/search-post.vue').default,
		},
		computed: {
			isNotEmptyLoaded() {
				return !this.loading && this.query.length && this.data.length;
			},
			isInitial() {
				return this.loading || !this.query.length
			},
			isEmptyLoaded() {
				return !this.loading && this.query.length && !this.data.length;
			},
			isLoaded() {
				return !this.loading && this.query.length;
			},
			dataGroups() {
				let groups = {};
				
				this.data.map(item => {
					if(!groups.hasOwnProperty(item.type)) {
						groups[item.type] = [];
					}
					groups[item.type].push(item);
					
					return item;
				});
				
				return groups;
			},
			titles() {
				return this.$store.state.searchTitles || {};
			}
		},
		data() {
			return {
				loading: false,
				query: '',
				data: [],
				dataGroupsOrder: ['project', 'position', 'teammate', 'info', 'post'],
				placeholders: [
					{
						icon: 'grid',
						title: 'Проекты',
						description: 'Например, «skyfall», «бар»<br>или «кальян»'
					},
					{
						icon: 'carte',
						title: 'Меню и ассортимент',
						description: 'Например,  «карбонара», «жасмин»,<br>«диметра» или «чизкейк»'
					},
					{
						icon: 'bookmark',
						title: 'Статьи в блоге',
						description: 'Поиск статей в блоге по ключевым<br>словам в названиях'
					},
					{
						icon: 'user',
						title: 'Команда',
						description: 'Например «официант clouds», «менеджер проектов»',
					},
					{
						icon: 'map-pin',
						title: 'Информация о заведениях',
						description: 'Например, «skyfall адрес», «email»<br>или «clouds график»'
					}
				]
			}
		},
		methods: {
			fetchData() {
				// @TODO implement Ajax Request
				this.data = [];
				if (this.loading) {
					clearTimeout(this.loading);
				}
				if (this.query.length) {
					this.loading = setTimeout(() => {
						let json = require('../../../../resources/pseudo-api/sidebar-search-query').default;
						if(json['status'] === 200) {
							this.data = json['response'];
						}
						clearTimeout(this.loading);
						this.loading = false;
					}, 1500);
					
				}
			}
		},
		watch: {
			query: function (query) {
				this.$nextTick(() => {
					this.fetchData();
				})
			}
		}
	}
</script>