@import "css-utils";

.search {
	display: flex;
	flex-direction: column;
	
	@media(min-width: $md) {
		display: initial;
		flex-direction: initial;
	}
	
	&__input {
		flex-shrink: 0;
		margin-right: 15px;
		
		@include input;
		
		@media(min-width: $md) {
			margin-right: 0;
			
			&:after {
				background: $black;
			}
		}
	}
	
	&__control {
		@include input-control;
		
		@media(min-width: $md) {
			color: $black;
			
			&::placeholder {
				color: $black;
			}
			
			
			&:not(:hover) {
				&::placeholder {
					opacity: .3;
				}
			}
		}
	}
	
	&__loader {
		position: absolute;
		bottom: 16px;
		right: 0;
		
		&:not(&--active) {
			display: none;
		}
		
		svg {
			display: block;
			height: 20px;
			width: 20px;
			fill: $white;
			opacity: .5;
			
			@media(min-width: $md) {
				fill: $black;
				opacity: .3;
			}
		}
	}
	
	&__clear {
		position: absolute;
		bottom: 19px;
		right: 0;
		
		&:not(&--active) {
			display: none;
		}
		
		svg {
			display: block;
			height: 18px;
			width: 26px;
			fill: $white;
			opacity: .5;
			
			@media(min-width: $md) {
				fill: $black;
				opacity: .3;
			}
		}
	}
	
	&__hint-title {
		opacity: 0.4;
		line-height: 1.11;
		color: $black;
		margin-top: 54px;
		
		@media(max-width: #{$md - 1}) {
			display: none;
		}
	}
	
	&__hint {
		color: #fff;
		font-size: .777777777777778rem;
		line-height: 1.43;
		margin-top: auto;
		padding-top: 44px;
		position: relative;
		margin-right: 15px;
		
		@media(min-width: $md) {
			margin-right: 0;
			padding-top: 11px;
			color: $black;
			opacity: .45;
			display: none;
		}
		
		&:before {
			color: #fff;
			content: "...";
			font-size: 1.55rem;
			left: 0;
			letter-spacing: 3px;
			opacity: .5;
			position: absolute;
			top: 0;
		}
	}
	
	&__retry {
		margin-top: 14px;
		font-size: .7777777777778rem;
		font-weight: 600;
		line-height: 1.07;
		color: $white;
		margin-right: auto;
		position: relative;
		
		@media(min-width: $md) {
			color: $black;
		}
		
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			margin-top: 2px;
			background: $white;
			height: 1px;
			
			@media(min-width: $md) {
				background: $black;
				opacity: .3;
			}
		}
	}
	
	&__group {
		&:first-of-type {
			margin-top: 37px;
			
			@media(min-width: $md) {
				margin-top: 55px;
			}
		}
		
		&:not(:first-of-type) {
			margin-top: 40px;
			
			@media(min-width: $md) {
				margin-top: 70px;
			}
		}
		
		@media(min-width: $md) {
			display: flex;
			align-items: flex-start;
		}
	}
	
	&__title {
		display: flex;
		align-items: center;
		flex-grow: 1;
	}
	
	&__title-text {
		font-size: .7777777777777778rem;
		line-height: 1.07;
		color: $white;
		@media(min-width: $md) {
			color: $black;
		}
	}
	
	&__count {
		display: flex;
		align-items: center;
		margin-left: 10px;
		
		
		span {
			font-size: .7777777777777778rem;
			font-weight: 500;
			color: $white;
			opacity: .45;
			font-family: 'Gill Sans Nova Medium', sans-serif;
			
			position: relative;
			bottom: .5px;
			
			@media(min-width: $md) {
				color: $black;
				opacity: .45;
			}
		}
		
		&:before {
			content: '';
			height: 4px;
			width: 4px;
			background: $white;
			opacity: .5;
			border-radius: 100%;
			margin-right: 10px;
			top: 1px;
			position: relative;
			
			@media(min-width: $md) {
				opacity: .3;
				background: $black;
				
			}
		}
	}
	
	&__results {
		padding-bottom: 80px;
	}
	
	&__items {
		margin-top: 26px;
		
		@media(min-width: $md) {
			margin-top: 0;
			flex-basis: 447px;
			flex-shrink: 0;
		}
	}
	
	&__item {
		&:not(:first-of-type) {
			margin-top: 15px;
			
			@media(min-width: $md) {
				margin-top: 25px;
			}
		}
	}
	
	&__placeholders {
		@media(max-width: #{$md - 1}) {
			display: none;
		}
		
		margin: 0 -10px;
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		padding-bottom: 30px;
		margin-top: -5px;
		padding-right: 14px;
		
	}
	
	&__placeholder {
		flex-basis: percentage(6/12);
		flex-shrink: 0;
		
		margin-top: 59px;
		
		display: flex;
		align-items: flex-start;
		padding: 0 10px;
	}
	
	&__placeholder-icon {
		display: flex;
		flex-shrink: 0;
		
		&--grid {
			height: 20px;
			width: 24px;
			margin-right: 11px;
		}
		
		&--carte {
			height: 22px;
			width: 24px;
			margin-right: 11px;
		}
		
		&--bookmark {
			height: 22px;
			width: 24px;
			margin-right: 11px;
		}
		
		&--user {
			height: 22px;
			width: 24px;
			margin-right: 11px;
		}
		
		&--map-pin {
			height: 24px;
			width: 24px;
			margin-right: 7px;
			margin-left: 4px;
		}
		
		svg {
			display: block;
			height: 100%;
			width: 100%;
			fill: $black;
			opacity: .3;
		}
	}
	
	&__placeholder-content {
	
	}
	
	&__placeholder-title {
		opacity: 0.4;
		line-height: 1.11;
		color: $black;
	}
	
	&__placeholder-description {
		margin-top: 11px;
		opacity: 0.45;
		font-size: .7777777777777778rem;
		line-height: 1.43;
		color: $black;
	}
}