<template lang="pug">
	.page(:class="'page--' + $route.params.page")
		component.page__component(
			v-for="(component, index) in components",
			:key="index",
			:is="'component-' + component.type",
			v-bind="component.meta"
		)
</template>

<script>
	export default {
		beforeRouteEnter(to, from, next) {
			next(vm => {
				vm.fetchData(to, from);
			})
		},
		beforeRouteLeave(to, from, next) {
			next();
		},
		beforeRouteUpdate(to, from, next) {
			next();
		},
		watch: {
			"$route": {
				deep: true,
				handler(to, from) {
					this.$store.state.previousPageTitleReturn = this.previousPageTitleReturn;
					this.fetchData(to, from);
				}
			},
			"$route.params.anchor"() {
				this.$nextTick(() => {
					this.goToAnchor(this.$route);
				});
			}
		},
		methods: {
			goToAnchor(route) {
				let anchor = route.params.anchor;
				
				if(anchor) {
					this.$nextTick(() => {
						let delimiter = document.getElementById(anchor);
						
						if(delimiter) {
							this.scrollToPx(delimiter.offsetTop);
						}
					});
				}   else {
					this.scrollToPx(0);
				}
			},
			fetchData(route, from) {
				let json = require('../../../resources/pseudo-api/pages/' + route.params.page).default;
				
				if (json.status === 200) {
					let response = json.response;
					this.components = response.components;
					this.$store.state.pageTitle = response.title;
					this.previousPageTitleReturn = response.titleReturn;
					
					this.goToAnchor(route)
				} else {
					alert('Unable to load page');
				}
			}
		},
		data() {
			return {
				previousPageTitleReturn: null,
				from: null,
				components: []
			}
		}
	}
</script>