@mixin input {
	position: relative;
	
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		height: 2px;
		background: $white;
		border-radius: 0 2px 0 2px;
	}
}

@mixin input-control {
	padding: 15px 0;
	
	width: 100%;
	font-weight: 600;
	color: $white;
	caret-color: #004ce6;
	
	&::placeholder {
		color: $white;
	}
	
	&:not(:hover) {
		&::placeholder {
			opacity: .5;
		}
	}
}

@mixin button {
	padding: 8px 20px 9px;
	border-radius: 28px;
	background-color: $white;
	box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	display: flex;
	align-items: center;
	
	span {
		line-height: 1.17;
		color: $black;
	}
}

@mixin container {
	@media(max-width: #{$md1 - 1}) {
		margin: 0 auto;
	}
	
	@media(min-width: $lt2) {
		max-width: 303px;
	}
	
	@media(min-width: $xs) {
		max-width: 445px;
	}
	
	@media(min-width: $md1) {
		max-width: 535px;
		
		margin-left: 22.73%;
	}
	
	@media(min-width: $md1-5) {
		max-width: 571px;
	}
	
	@media(min-width: $md2) {
		max-width: 597px;
	}
	
	@media(min-width: $lg) {
		max-width: 700px;
		
		margin-left: 26.25%;
	}
}

@mixin overrideFeedbackToBlack {
	display: flex;
	align-items: flex-start;
	margin-right: 0;
	
	&--name {
		margin-top: 67px;
	}
	&--email,
	&--phone {
		margin-top: 43px;
	}
	&--message {
		margin-top: 75px;
	}
	
	&__label {
		color: $black;
		letter-spacing: -.4px;
		line-height: 1.43;
		flex-grow: 1;
	}
	
	&__field {
		flex-basis: 447px;
		flex-shrink: 0;
	}
	
	.field-radio {
		padding: 0;
		
		&__items {
			margin-top: -26px;
		}
		
		&__item {
			padding-top: 26px;
		}
		
		&__input {
			&:checked {
				+ label {
					box-shadow: 0 0 0 2px $black;
					color: $black;
				}
			}
		}
		
		&__label {
			box-shadow: 0 0 0 1px #e5e5e5;
			padding: 8px 20px 9px;
			font-size: 1rem;
			line-height: 1.17;
			color: transparentize($black, .6);
		}
	}
	
	.field-text {
		&:after {
			background: $black;
		}
		
		&__input {
			padding-top: 0;
			color: $black;
			&::placeholder {
				color: $black;
			}
			
			&:not(:hover) {
				&::placeholder {
					opacity: .4;
				}
			}
		}
	}
	
	.field-textarea {
		margin-top: 0;
		box-shadow: inset 0 0 0 2px $black;
		padding: 21px 25px 38px 25px;
		color: $black;
		&::placeholder {
			color: $black;
			opacity: 1;
		}
		
		&:not(:hover) {
			&::placeholder {
				opacity: .4;
			}
		}
	}
}