@import "css-utils";

.c-feedback {
	padding: 17px 22px 0;
	
	@media(min-width: $lt1) {
		padding-left: 26px;
		padding-right: 26px;
	}
	
	@media(min-width: $lt2) {
		padding-top: 20px;
	}
	
	@media(min-width: $md1) {
		padding-top: 39px;
		padding-left: 0;
		padding-right: 0;
	}
	
	&__container {
		@include container;
		
		@media(min-width: $md1) {
			max-width: 638px;
		}
	}
	
	&__title {
		font: 600 1.44444444rem 'Playfair Display', serif;
		line-height: 1.35;
		
		@media(min-width: $lt2) {
			font-size: 2rem;
			line-height: 1.11;
		}
		
		@media(min-width: $md1) {
			font-size: 2.444444444444rem;
			line-height: 1.25;
		}
	}
	
	&__form {
		.form-group {
			@include overrideFeedbackToBlack;
			margin-top: 34px !important;
			@media(max-width: #{$md1 - 1}) {
				flex-wrap: wrap;
			}
			@media(min-width: $md1) {
				margin-top: 45px !important;
			}
			&__label {
				margin-bottom: 13px;
			}
			&__field {
				@media(max-width: #{$md1 - 1}) {
					flex-basis: 100%;
				}
			}
		}
	}
	
	.feedback {
		padding-bottom: 37px;
		
		&__splitter {
			background: #e5e5e5;
			margin-left: 0;
			margin-right: 0;
		}
		&__disclaimer {
			color: $black;
		}
		&__bureaucracy {
			color: $black;
			
			&:after {
				background: $black;
				opacity: .3;
			}
		}
	}
}