<template lang="pug">
	.c-feedback
		.c-feedback__container
			.c-feedback__title(v-html="title")
			feedback.c-feedback__form(:header="false")
</template>

<script>
	import "./c-feedback.scss";
	
	export default {
		components: {
			feedback: require('../../partials/sidebar/feedback/feedback.vue').default
		},
		props: [
			'title'
		]
	}
</script>