<template lang="pug">
	router-link.search-teammate(:to="item.link")
		.search-teammate__photo(:style="{'background-image': 'url(' + item.photo + ')'}")
		.search-teammate__content
			.search-teammate__name(v-html="item.name")
			.search-teammate__description(v-html="item.description", v-if="item.description")
</template>

<script>
	import "./search-teammate.scss";
	
	export default {
		props: [
			'item'
		]
	}
</script>