@import "css-utils";

.search-teammate {
	border-radius: 5px;
	box-shadow: 0 0 0 1px transparentize(#e5e5e5, .7);
	padding: 15px 20px;
	display: flex;
	align-items: center;
	
	@media(min-width: $md) {
		box-shadow: 0 0 0 1px #e5e5e5;
		padding: 15px 30px;
	}
	
	&__photo {
		height: 49px;
		width: 49px;
		background: no-repeat center;
		background-size: cover;
		border-radius: 100%;
		
		@media(min-width: $md) {
			height: 73px;
			width: 73px;
		}
	}
	
	&__content {
		margin-left: 20px;
	}
	
	&__name {
		font-size: .777777777778rem;
		font-weight: 600;
		line-height: 1.07;
		color: $white;
		
		@media(min-width: $md) {
			color: $black;
			font-size: 1rem;
			line-height: 1.11;
		}
	}
	
	&__description {
		margin-top: 10px;
		opacity: 0.45;
		font-size: .777777777778rem;
		line-height: 1.07;
		color: $black;
		
		@media(max-width: #{$md - 1px}) {
			display: none;
		}
	}
}