<template lang="pug">
	.c-delimiter(:class="{'c-delimiter--gray': gray}", :id="cKey")
		.c-delimiter__container
			.c-delimiter__icon(
				:style="{'background-image': 'url(' + icon + ')'}",
				v-if="icon",
				:class="{'c-delimiter__icon--light': lightBackground}"
			)
			.c-delimiter__title
				span(v-html="title")
				span(v-html="subTitle" v-if="subTitle")
</template>

<script>
	import "./c-delimiter.scss";
	
	export default {
		props: {
			title: String,
			subTitle: String,
			titleForFooter: String,
			icon: String,
			gray: Boolean,
			lightBackground: Boolean,
			cKey: String
		}
	}
</script>