@import "css-utils";

.c-delimiter {
	padding: 35px 22px 0;
	
	@media(min-width: $lt1) {
		padding: 35px 26px 0;
	}
	
	@media(min-width: $lt2) {
		padding-top: 48px;
	}
	
	@media(min-width: $md1) {
		padding-top: 83px;
		padding-left: 0;
		padding-right: 0;
	}
	
	&--gray {
		background: #f7f7f7;
	}
	
	&__container {
		position: relative;
		@include container;
	}
	
	&__title {
		display: flex;
		align-items: baseline;
		span:nth-child(1) {
			font-size: .7777777777778rem;
			font-weight: 600;
			line-height: 1.43;
			position: relative;
			z-index: 1;
			
			@media(min-width: $lt2) {
				font-size: 1rem;
				line-height: 1.22;
			}
		}
		
		span:nth-child(2) {
			@media(min-width: $md1) {
				display: none;
			}
			font-size: .7777777777778rem;
			line-height: 1.43;
			color: transparentize($black, .55);
			margin-left: 24px;
			position: relative;
			
			&:before {
				content: '';
				height: 4px;
				width: 4px;
				border-radius: 100%;
				background: transparentize($black, .7);
				position: absolute;
				top: 50%;
				right: 100%;
				transform: translateY(-50%) translateX(-10px);
			}
		}
	}
	
	&__icon {
		@media(max-width: #{$md1 - 1}) {
			display: none;
		}
		
		height: 80px;
		width: 80px;
		border-radius: 100%;
		display: block;
		position: absolute;
		left: -67px;
		top: -30px;
		background: #f7f7f7 no-repeat center;
		z-index: 1;
		
		&--light {
			background-color: $white;
		}
	}
}