@import "css-utils";

.c-map {
	position: relative;
	height: 550px;
	display: flex;
	align-items: center;
	margin-bottom: -30px;
	
	@media(max-width: #{$md1 - 1}) {
		display: none;
	}
	
	&__map {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
	
	&__pane {
		position: relative;
		z-index: 1;
		margin-left: auto;
		margin-right: 134px;
		background: $white;
		border-radius: 5px;
		padding: 32px 29px;
	}
	
	&__address {
		font-size: .777777778rem;
		line-height: 1.43;
		color: $black;
		font-weight: 600;
	}
	
	&__city {
		font-size: .777777778rem;
		line-height: 1.43;
		color: $black;
	}
	
	&__phone {
		margin-top: 22px;
		font-size: .777777777778rem;
		font-weight: 600;
		color: $black;
		position: relative;
		line-height: 1;
		display: inline-block;
		
		&:after {
			content: '';
			position: absolute;
			display: block;
			top: 100%;
			margin-top: 1px;
			left: 0;
			right: 0;
			height: 1px;
			background: transparentize($black, .7);
		}
	}
	
	&__work-periods {
		padding-top: 15px;
	}
	
	&__work-period {
		margin-top: 10px;
		
		&-days {
			font-size: .777777778rem;
			line-height: 1.43;
			color: $black;
			font-weight: 600;
		}
		
		&-time {
			font-size: .777777778rem;
			line-height: 1.43;
			color: $black;
		}
	}
	
	&__socials {
		display: flex;
		align-items: center;
		margin: 0 -7.5px;
		margin-top: 26px;
	}
	
	&__social {
		margin: 0 7.5px;
		
		display: block;
		
		&--vkontakte {
			height: 11.1px;
			width: 19px;
			margin-top: 3px;
		}
		
		&--facebook {
			height: 18px;
			width: 9.3px;
		}
		
		&--telegram {
			height: 14.5px;
			width: 17.5px;
			margin-top: 2px;
		}
		
		&--instagram {
			height: 18px;
			width: 18px;
		}
		
		svg {
			display: block;
			height: 100%;
			width: 100%;
			fill: $black;
		}
		
		&-dot {
			height: 4px;
			width: 4px;
			background: transparentize($black, .8);
			border-radius: 100%;
			margin: 0 7.5px;
		}
	}
}