<template lang="pug">
	.c-map
		.c-map__map(:id="'map-' + id", ref="map")
		.c-map__pane
			.c-map__address(v-html="address")
			.c-map__city(v-html="city")
			.c-map__phone(v-html="formattedPhone")
			.c-map__work-periods
				.c-map__work-period(v-for="(period, index) in workPeriods", :key="index")
					.c-map__work-period-days(v-html="period.days")
					.c-map__work-period-time(v-html="period.time")
			.c-map__socials
				template(v-for="(social, index) in socials")
					a.c-map__social(:href="social.link", target="_blank", :key="index", :class="'c-map__social--' + social.key")
						component(:is="'icon-' + social.key")
					.c-map__social-dot(v-if="index < socials.length - 1")
</template>

<script>
	import "./c-map.scss";
	
	import GoogleMapsFactory from 'google-maps';
	
	export default {
		computed: {
			formattedPhone() {
				return this.phone.replace(/[^\d]/g, '').replace(/^([7,8]{1})(\d{3})(\d{3})(\d{2})(\d{2})$/, '+7 $2 $3-$4-$5');
			}
		},
		mounted() {
			GoogleMapsFactory.KEY = this.$store.state.meta.googleApiKey;
			GoogleMapsFactory.LANGUAGE = 'ru';
			
			GoogleMapsFactory.load(google => {
				let map = new google.maps.Map(this.$refs.map, {
					zoom: this.zoom,
					center: new google.maps.LatLng(this.centerX, this.centerY),
					styles: require('./style').default,
					disableDefaultUI: true,
					zoomControl: false,
					mapTypeControl: false,
					scaleControl: false,
					streetViewControl: false,
					rotateControl: false,
					fullscreenControl: false,
					draggable: false,
					showWheel: false,
					disableDoubleClickZoom: true
				});
				
				let marker = new google.maps.Marker({
					position: new google.maps.LatLng(this.markerX, this.markerY),
					map: map,
					icon: this.icon
				});
			})
		},
		methods: {
			id() {
				return Math.random().toString(36).substring(7);
			}
		},
		props: {
			centerX: [String, Number],
			centerY: [String, Number],
			markerX: [String, Number],
			markerY: [String, Number],
			icon: String,
			address: String,
			city: String,
			phone: [String, Number],
			workPeriods: Array,
			socials: Array,
			zoom: {
				type: [String, Number],
				default: 17
			}
		}
	}
</script>