@import "css-utils";

.projects {
	padding-bottom: 50px;
	
	&__title {
		font-weight: 600;
		line-height: 1.11;
		color: $white;
		
		@media(min-width: $md) {
			color: $black;
			line-height: normal;
		}
	}
	
	&__items {
		padding-top: 1px;
	}
	
	&__item {
		margin-top: 25px;
		@media(min-width: $md) {
			margin-top: 30px;
			padding-right: 260px;
		}
	}
}