<template lang="pug">
	.projects
		.projects__title Все проекты
		.projects__items
			project.projects__item(
				v-for="(project, index) in data",
				:key="index", :item="project"
			)
</template>

<script>
	import "./projects.scss";
	
	export default {
		components: {
			'project': require('../search/search-project/search-project.vue').default,
		},
		mounted() {
			this.fetchData();
		},
		methods: {
			fetchData() {
				// @TODO implement Ajax Request
				this.data = [];
				if (this.loading) {
					clearTimeout(this.loading);
				}
				this.loading = setTimeout(() => {
					let json = require('../../../../resources/pseudo-api/sidebar-projects').default;
					if(json['status'] === 200) {
						this.data = json['response'];
					}
					clearTimeout(this.loading);
					this.loading = false;
				}, 1500);
			}
		},
		data() {
			return {
				loading: false,
				data: []
			}
		}
	}
</script>