<template lang="pug">
	aside.sidebar(:class="{'sidebar--active': active}")
		.sidebar__container
			.sidebar__header
				router-link.sidebar__logo(:to="{name: 'index'}")
					logo
				ul.sidebar__buttons(role="tablist")
					li(v-for="(tab, index) in tabs", :key="index")
						button.sidebar__button(
						:title="tab.title",
						:id="'sidebar-tab' + (index+1)",
						role="tab",
						:class="{'sidebar__button--active': activeTab === tab.key}",
						:aria-controls="'sidebar-' + tab.key",
						:aria-selected="activeTab === tab.key",
						@click="$store.state.activeSidebarTab = tab.key"
						)
							component.sidebar__icon(:is="'icon-' + tab.icon", :class="'sidebar__icon--' + tab.key")
				button.sidebar__close(
				title="Закрыть",
				@click="$store.state.activeSidebar = false",
				aria-label="Закрыть"
				)
					icon-cross
			.sidebar__content
				.sidebar__panes(aria-live="polite")
					.sidebar__pane(
					v-for="(tab, index) in tabs",
					:key="index",
					:id="'sidebar-' + tab.key",
					role="tabpanel",
					:class="[{'sidebar__pane--active': activeTab === tab.key}, 'sidebar__pane--' + tab.key]",
					:aria-labelledby="'sidebar-tab' + (index + 1)"
					:aria-hidden="activeTab !== tab.key",
					)
						component(:is="'pane-' + tab.key")
</template>

<script>
	import "./sidebar.scss";
	import closest from 'closest';
	
	export default {
		mounted() {
			document.addEventListener('click', (e) => {
				if(this.$store.state.activeSidebar && !closest(e.target, '.sidebar', true)) {
					this.$store.state.activeSidebar = false;
				}
			})
		},
		computed: {
			active() {
				return this.$store.state.activeSidebar;
			},
			activeTab() {
				return this.$store.state.activeSidebarTab;
			}
		},
		components: {
			'pane-search': require('./search/search.vue').default,
			'pane-feedback': require('./feedback/feedback.vue').default,
			'pane-projects': require('./projects/projects.vue').default,
		},
		data() {
			return {
				tabs: [
					{
						title: 'Поиск',
						key: 'search',
						icon: 'loupe'
					},
					{
						title: 'Обратная связь',
						key: 'feedback',
						icon: 'chat'
					},
					{
						title: 'Проекты',
						key: 'projects',
						icon: 'grid'
					}
				]
			}
		}
	}
</script>