@import "css-utils";

.sidebar {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: rgba(38, 38, 38, 1);
	
	&:not(&--active) {
		transform: translateX(100%) translateX(5px);
		opacity: 0;
	}
	
	@media(min-width: $md) {
		left: auto;
		width: percentage(718/1140);
		background: $white;
		
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 447px;
			background: #f7f7f7;
		}
	}
	
	&__container {
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		padding: 31px 22px 39px;
		
		@media(min-width: $md) {
			padding: 31px 0 39px;
		}
	}
	
	&__header {
		display: flex;
		align-items: center;
		position: relative;
		flex-shrink: 0;
		margin-right: 15px;
		
		@media(min-width: $md) {
			width: 602px;
			margin: 0 auto;
		}
	}
	
	&__logo {
		display: block;
		width: 167px;
		height: 32px;
		margin-right: auto;
		
		@media(max-width: #{$md - 1}) {
			display: none;
		}
		
		svg {
			display: block;
			height: 100%;
			width: 100%;
			fill: $black;
		}
	}
	
	&__content {
		flex-grow: 1;
		
		display: flex;
		flex-direction: column;
		
		@media(min-width: $md) {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 22px;
				height: 1px;
				background: #e5e5e5;
			}
		}
	}
	
	&__buttons {
		margin: 0 -20px;
		display: flex;
		align-items: center;
		list-style: none;
		
		li {
			padding: 0 20px;
		}
	}
	
	&__button {
		position: relative;
		
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 100%;
			right: 0;
			height: 2px;
			background: $white;
			margin-top: 14px;
			border-radius: 2px 2px 0 0;
			
			@media(min-width: $md) {
				background: $black;
				margin-top: 29px;
				
				z-index: 1;
			}
		}
		
		&:not(&--active) {
			opacity: .5;
			
			@media(min-width: $md) {
				opacity: .3;
			}
			
			&:after {
				opacity: 0;
			}
		}
	}
	
	&__icon {
		display: block;
		fill: $white;
		
		@media(min-width: $md) {
			fill: $black;
		}
		
		&--search {
			height: 20px;
			width: 22px;
		}
		
		&--feedback {
			height: 20px;
			width: 24px;
		}
		
		&--projects {
			height: 20px;
			width: 20px;
		}
	}
	
	&__close {
		height: 46px;
		width: 46px;
		background: #222222;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		
		position: absolute;
		top: -13px;
		right: -15px;
		
		@media(min-width: $md) {
			display: none;
		}
		
		svg {
			display: block;
			height: 14px;
			width: 14px;
			fill: $white;
			object-fit: contain;
		}
	}
	
	&__panes {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		
		@media(min-width: $md) {
			width: 602px;
			margin: 0 auto;
		}
	}
	
	&__pane {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		
		&:not(&--active) {
			display: none;
		}
		
		&--search {
			margin-top: 58px;
			
			@media(min-width: $md) {
				margin-top: 81px;
			}
			
			.search {
				flex-grow: 1;
			}
		}
		
		&--feedback {
			margin-top: 74px;
			
			@media(min-width: $md) {
				margin-top: 97px;
			}
		}
		
		&--projects {
			margin-top: 74px;
		}
	}
}