<template lang="pug">
	.c-header(:style="{'background-image': 'url(' + background + ')'}")
		.c-header__container
			router-link.c-header__return(:to="previousRoute", v-if="previousRoute")
				icon-arrow.c-header__return-icon.c-header__return-icon--arrow
				icon-chevron-rounded.c-header__return-icon.c-header__return-icon--chevron
				.c-header__return-label Назад {{ previousTitle }}
			h1.c-header__title(v-html="title")
</template>

<script>
	import "./c-header.scss";
	
	export default {
		computed: {
			previousRoute() {
				return this.$store.state.previousRoute;
			},
			previousTitle() {
				return this.$store.state.previousPageTitleReturn;
			},
		},
		data() {
			return {}
		},
		props: {
			background: String,
			title: String
		}
	}
</script>