@import "css-utils";

.c-header {
	padding: 34px 6.875vw 40px;
	background: no-repeat center;
	background-size: cover;
	position: relative;
	
	@media(min-width: $lt1) {
		padding-left: 8.125vm;
		padding-right: 8.125vm;
	}
	
	@media(min-width: $lt2) {
		// @TODO
		padding: 39px 0 41px;
	}
	
	@media(min-width: $md1) {
		padding: 83px 0 77px;
	}
	
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: transparentize($black, .45);
	}
	
	> * {
		position: relative;
		
	}
	
	&__container {
		@include container;
	}
	
	&__return {
		display: flex;
		align-items: center;
		
		
		@media(min-width: $md) {
			position: relative;
		}
	}
	
	&__return-icon {
		&--chevron {
			height: 22px;
			width: 22px;
			display: block;
			border-radius: 100%;
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
			fill: $white;
			
			@media(min-width: $md1) {
				display: none;
			}
		}
		
		&--arrow {
			height: 80px;
			width: 80px;
			border-radius: 100%;
			background: transparentize($black, .9);
			fill: $white;
			padding: 34px 30px 32px;
			display: block;
			position: absolute;
			transform: rotate(180deg);
			top: -30px;
			left: -67px;
			
			
			@media(max-width: #{$md1 - 1}) {
				display: none;
			}
		}
	}
	
	
	&__return-label {
		margin-left: 8px;
		font-size: .777777777778rem;
		font-weight: 600;
		color: $white;
		
		@media(min-width: $md1) {
			font-size: 1rem;
			margin-left: 0;
		}
	}
	
	&__title {
		margin-top: 124px;
		font-family: 'Playfair Display', serif;
		font-size: 2rem;
		line-height: 1.11;
		font-weight: 600;
		color: $white;
		
		@media(min-width: $lt2) {
			line-height: 1.25;
			font-size: 2.44444444444rem;
			margin-top: f;
		}
		
		@media(min-width: $md1) {
			margin-top: 218px;
			font-size: 4.8888888889rem;
			line-height: 1.14;
		}
	}
}