<template lang="pug">
	.feedback
		.feedback__title(v-if="header") Обратная связь
		.feedback__description(v-if="header") Отзывы и комментарии, идеи<br> и мысли, предложения и пожелания —<br> выслушаем и ответим за всё.
		form.feedback__form(
		@submit.preven="submit",
		:class="{'feedback__form--submitting': submitting, 'feedback__form--submitted': submitted}",
		ref="form"
		)
			form-group(
			v-for="(field, index) in fields",
			:key="index",
			:item="field",
			@updateValue="setModelValue",
			:class="'form-group--' + field.meta.name",
			:errors="validation[field.meta.name]",
			:data-errors="validation[field.meta.name]"
			)
			.feedback__splitter
			button.feedback__submit(type="submit", @click.prevent="submit", v-if="!submitted")
				span Отправить
				icon-arrow
			button.feedback__submit.feedback__submit--revert(type="submit", @click.prevent="reset", v-if="submitted")
				icon-arrow-revert
				span Начать заново
		.feedback__disclaimer(v-if="!submitted") Нажимая на кнопку, вы даете согласие<br> на обработку своих персональных данных.
		.feedback__disclaimer(v-if="submitted") Ваше сообщение отправлено. Мы отправили копию сообщения вам на почту, а наш менеджер проектов свяжется с вами в течение 24 часов.
		router-link.feedback__bureaucracy(:to="{name: 'bureaucracy', params: { name: 'politics' }}", v-if="!submitted") Политика обработки персональных данных
</template>

<script>
	import "./feedback.scss";
	
	export default {
		props: {
			header: {
				type: Boolean,
				default: true
			}
		},
		methods: {
			reset() {
				this.submitted = false;
				this.model = {};
				this.validation = {};
				
				let fields = this.$refs.form.querySelectorAll('input, textarea');
				for (let i in fields) {
					if (fields.hasOwnProperty(i) && typeof fields[i] === 'object') {
						let item = fields[i];
						
						if (item.tagName === 'textarea' || item.type !== 'radio') {
							item.value = ''
						} else if (item.type === 'radio') {
							item.checked = false;
						}
					}
				}
			},
			setModelValue(name, value) {
				this.$set(this.model, name, value);
			},
			submit() {
				if (this.submitting || this.submitted) {
					return;
				}
				
				this.submitting = true;
				this.validation = {};
				
				setTimeout(() => {
					
					if (Math.round(Math.random()) === 1) {
						this.validation = {
							email: [
								'Невалидный формат'
							]
						};
					} else {
						this.submitted = true;
					}
					
					this.submitting = false;
				}, 1500);
			}
		},
		watch: {
			'model.name'(name) {
				if (!name.match(/^[A-zА-яЁё\s]+$/)) {
					this.$set(this.validation, 'name', ['Неверный формат имени']);
				} else {
					this.$set(this.validation, 'name', null);
				}
			},
			'model.email'(email) {
				if (!email.match(/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
					this.$set(this.validation, 'email', ['Неверный формат адреса эл. почты']);
				} else {
					this.$set(this.validation, 'email', null);
				}
			},
			'model.phone'(phone) {
				if (!phone.match(/^[\d\-\(\)\s\+]+$/)) {
					this.$set(this.validation, 'phone', ['Неверный формат телефона']);
				} else {
					this.$set(this.validation, 'phone', null);
				}
			},
		},
		data() {
			return {
				submitting: false,
				submitted: false,
				model: {},
				validation: {},
				fields: [].concat(
					this.header ? {
						type: 'radio',
						meta: {
							name: 'subject',
							label: 'Тема обращения',
							options: ['Skyfall Group', 'Гастро-бар Clouds', 'Кальян-бар Skyfall', 'High Tea', 'Аутсорсинг от Skyfall', 'Другая'].map(item => {
								return {
									text: item,
									id: item
								}
							})
						}
					} : null,
					[,
						{
							type: 'text',
							meta: {
								name: 'name',
								label: 'Ваше имя',
								placeholder: 'Иван Примерный'
							}
						},
						{
							type: 'text',
							meta: {
								name: 'email',
								label: 'Адрес эл. почты',
								placeholder: 'ivan.primernyi@example.com'
							}
						},
						{
							type: 'text',
							meta: {
								name: 'phone',
								label: 'Номер телефона',
								placeholder: '+7 (912) 345-67-89'
							}
						},
						{
							type: 'textarea',
							meta: {
								name: 'message',
								label: 'Текст сообщения',
								placeholder: 'Поделитесь впечатлением после посещения одного из наших заведений — расскажите что вам понравилось, а что нет.',
								rows: 10
							}
						}
					]).filter((item) => {
						return item !== null;
				})
			}
		}
	}
</script>