@import "css-utils";

.feedback {
	padding-bottom: 74px;
	
	&__title {
		font-weight: 600;
		line-height: 1.11;
		color: $white;

		@media(min-width: $md) {
			color: $black;
		}
	}
	
	&__description {
		margin-top: 12px;
		font-size: .833333333333333rem;
		line-height: 1.33;
		color: $white;

		@media(min-width: $md) {
			margin-top: 16px;
			color: $black;
			width: 340px;
			br {
				display: none;
			}
		}
	}
	
	&__form {
		margin-top: 30px;

		@media(min-width: $md) {
			margin-top: 68px;
		}
		
		&--submitted {
			.form-group {
				opacity: .4;
				position: relative;
				
				&:after {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
				}
			}
		}
	}
	
	.form-group {
		&--name,
		&--message {
			margin-top: 38px;
		}
		&--email,
		&--phone {
			margin-top: 28px;
		}
		
		&--name,
		&--email,
		&--phone {
			margin-right: 15px;
		}

		@media(min-width: $md) {
			@include overrideFeedbackToBlack;
		}
	}
	
	&__splitter {
		margin: 46px -22px 0;
		height: 1px;
		background: transparentize($white, .8);

		@media(min-width: $md) {
			margin: 74px 0 0;
			background: #e5e5e5;
		}
	}
	
	&__submit {
		margin-top: 35px;

		@media(min-width: $md) {
			margin-left: auto;
			margin-top: 32px;
		}
		
		@include button;
		
		&:not(&--revert) {
			svg {
				margin-left: 10px;
				height: 10px;
				width: 16px;
				fill: $black;
			}
			
			&:not(:hover) {
				span {
					opacity: .4;
				}
				
				svg {
					opacity: .3;
				}
			}
		}
		
		&--revert {
			svg {
				margin-right: 10px;
				height: 15px;
				width: 18px;
				fill: $black;
			}
		}
	}
	
	&__disclaimer {
		margin-top: 27px;
		font-size: .77777777777778rem;
		line-height: 1.43;
		color: $white;

		@media(min-width: $md) {
			transform: translateY(-40px);
			margin-top: 0;
			color: $black;
			max-width: 330px;

			br {
				display: none;
			}
		}
	}
	
	&__bureaucracy {
		margin-top: 13px;
		font-size: .77777777777778rem;
		line-height: 1.07;
		color: $white;
		position: relative;
		display: inline-block;
		margin-right: auto;

		@media(min-width: $md) {
			transform: translateY(-40px);
			color: $black;
		}
		
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			margin-top: 2px;
			height: 1px;
			background: transparentize($white, .3);
			border-radius: 1px;

			@media(min-width: $md) {
				background: $black;
				opacity: .3;
			}
		}
		
	}
}