<template lang="pug">
	.c-case
		.c-case__content
			.c-case__image(:style="{'background-image': 'url(' + image + ')'}")
			.c-case__left
				.c-case__title(v-html="title")
				.c-case__description(v-html="description")
				router-link.c-case__link(:to="link") Читать кейс
</template>

<script>
	import "./c-case.scss";
	
	export default {
		props: {
			title: String,
			description: String,
			image: String,
			link: Object
		}
	}
</script>