@import "css-utils";

.c-case {
	padding: 35px 22px 35px;
	position: relative;
	
	&:nth-child(1) {
		@media(max-width: $lt2) {
			padding-top: 27px;
		}
		
		@media(min-width: $lt2) and (max-width: #{$md1 - 1}) {
			padding-top: 34px;
		}
	}
	
	&:nth-last-child(1) {
		@media(max-width: $lt2) {
			padding-bottom: 39px;
		}
		
		@media(min-width: $lt2) and(max-width: #{$md1 - 1}) {
			padding-bottom: 50px;
		}
	}
	
	@media(min-width: $lt1) {
		padding-left: 26px;
		padding-right: 26px;
	}
	
	@media(min-width: $lt2) {
		padding-left: 0;
		padding-right: 0;
	}
	
	@media(min-width: $md1) {
		padding-top: 67px;
		padding-bottom: 67px;
	}
	
	&:not(:nth-last-child(1)) {
		&:after {
			content: '';
			position: absolute;
			left: 22px;
			right: 22px;
			@media(min-width: $lt1) {
				left: 26px;
				right: 26px;
			}
			@media(min-width: $lt1) {
				left: 0;
				right: 0;
			}
			bottom: .5px;
			height: 1px;
			display: block;
			border-radius: 1px;
			background: #e5e5e5;
		}
	}
	
	&__content {
		@media(min-width: $md1) {
			display: flex;
			align-items: flex-start;
			flex-direction: row-reverse;
		}
	}
	
	&__image {
		background: no-repeat center;
		background-size: cover;
		border-radius: 5px;
		height: 131px;
		
		@media(min-width: $md1) {
			height: 150px;
			width: 250px;
			margin-left: 72px;
			flex-shrink: 0;
		}
		
		@media(min-width: $md1-5) {
			margin-left: 93px;
		}
		
		@media(min-width: $md2) {
			margin-left: 114px;
		}
		
		@media(min-width: $xlg) {
			margin-left: 173px;
		}
	}
	
	&__title {
		margin-top: 16px;
		font: 600 1.222222222rem 'Playfair Display', serif;
		line-height: 1.36;
		
		
		@media(min-width: $md1) {
			margin-top: 0;
			font-size: 1.33333333rem;
			line-height: 1.25;
			font-family: 'Gill Sans', sans-serif;
		}
	}
	
	&__description {
		margin-top: 9px;
		font-size: .7777777777778rem;
		color: transparentize($black, .55);
		line-height: 1.43;
		
		@media(min-width: $lt2) {
			margin-top: 12px;
			font-size: 1rem;
			line-height: 1.67;
			color: transparentize($black, .4);
		}
	}
	
	&__link {
		margin-top: 19px;
		display: inline-flex;
		border-radius: 16px;
		box-shadow: inset 0 0 0 1px transparentize($black, .7);
		padding: 8px 15px;
		color: $black;
		font-size: .777777777778rem;
		
		@media(min-width: $lt2) {
			margin-top: 23px;
			border-radius: 28px;
			box-shadow: inset 0 0 0 1px #e5e5e5;
			padding: 8px 20px;
			font-size: 1rem;
			line-height: 1.17;
		}
	}
}