<template lang="pug">
	.c-loyalty
		.c-loyalty__background(:style="{'background-image': 'url(' + background + ')'}")
			img(:src="background")
		.c-loyalty__container
			.c-loyalty__title(v-html="title")
			.c-loyalty__description(v-html="description")
			.c-loyalty__advantages
				.c-loyalty__advantage(v-for="(advantage, index) in advantages", :key="index")
					.c-loyalty__advantage-icon(:style="{'background-image': 'url(' + advantage.icon + ')'}")
					.c-loyalty__advantage-title(v-html="advantage.title")
				.c-loyalty__advantage.c-loyalty__file
					router-link.c-loyalty__file-link(v-html="file.title", :to="file.link", target="_blank")
					.c-loyalty__file-meta(v-html="file.extension.toUpperCase() + ', ' + humanizedFileSize")
				
</template>

<script>
	import "./c-loyalty.scss";
	
	export default {
		computed: {
			humanizedFileSize() {
				return Math.round(this.file.size / 1024 * 100) / 100 + ' MB';
			}
		},
		props: {
			background: String,
			title: String,
			description: String,
			advantages: {
				type: Array,
				default() {
					return [];
				}
			},
			file: {
				type: Object,
				default() {
					return {};
				}
			}
		}
	}
</script>