@import "css-utils";

.c-loyalty {
	position: relative;
	overflow: hidden;
	&__background {
		
		@media(max-width: #{$md1 - 1}) {
			display: none;
			
		}
		
		img {
			opacity: 0;
			visibility: hidden;
		}
		
		position: absolute;
		top: 76px;
		height: 495px;
		right: 0;
		width: 353px;
		background: no-repeat left center;
		background-size: cover;
		
		@media(min-width: $md1-5) {
			width: 439px;
		}
		
		@media(min-width: $md2) {
			width: 513px;
		}
		
		@media(min-width: $xlg) {
			width: 633px;
		}
	}
	
	padding: 17px 22px 40px;
	
	@media(min-width: $lt1) {
		padding-left: 26px;
		padding-right: 26px;
		padding-bottom: 53px;
	}
	
	@media(min-width: $lt2) {
		padding-top: 20px;
	}
	
	@media(min-width: $md1) {
		padding: 39px 0 82px;
	}
	
	@media(min-width: $lg) {
		padding-bottom: 79px;
	}
	
	&__container {
		@include container;
	}
	
	&__title {
		font: bold 1.4444444rem 'Playfair Display', serif;
		line-height: 1.35;
		color: $black;
		
		@media(min-width: $lt2) {
			font-size: 2rem;
			line-height: 1.11;
		}
		
		@media(min-width: $md1) {
			font-size: 2.44444444444444rem;
			line-height: 1.25;
		}
	}
	
	&__description {
		
		@media(max-width: #{$md1 - 1}) {
			display: none;
		}
		
		margin-top: 25px;
		line-height: 1.67;
		color: transparentize($black, .4);
		
		@media(min-width: $lg) {
			font-size: 1.1666666666667rem;
			color: $black;
			padding-right: 20px;
		}
	}
	
	&__advantages {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		
		@media(min-width: $lt2) {
			padding-top: 10px;
		}
		
		@media(min-width: $xs) {
			padding-right: 78px;
		}
		
		
		@media(min-width: $lg) {
			padding-right: 0;
			padding-top: 0;
			margin-top: -4px;
		}
	}
	
	&__advantage {
		width: 100%;
		margin-top: 25px;
		display: flex;
		align-items: flex-start;
		
		@media(min-width: $lg) {
			width: 48%;
			margin-top: 40px;
			padding-right: 50px;
		}
		
		&-icon {
			flex-shrink: 0;
			width: 37px;
			height: 37px;
			background: no-repeat left top;
		}
		
		&-title {
			font-size: .77777777778rem;
			line-height: 1.43;
			font-weight: 600;
			color: transparentize($black, .4);
			
			@media(min-width: $md1) {
				color: $black;
				width: 233px;
			}
		}
	}
	
	&__file {
		margin-top: 40px;
		display: flex;
		align-items: center;
		padding-top: 20px;
		position: relative;
		
		&:before {
			content: '';
			position: absolute;
			top: -1px;
			margin-top: 2px;
			height: 1px;
			left: 0;
			right: 0;
			background: #e5e5e5;
		}
		
		@media(min-width: $md1) {
			margin-top: 28px;
			padding-top: 0;
			padding-left: 37px;
			&:before {
				display: none;
			}
		}
		
		@media(min-width: $lg) {
			margin-top: 40px;
		}
		
		&-link {
			font-size: .777777778rem;
			line-height: 1.07;
			color: transparentize($black, .55);
			position: relative;
			
			&:after {
				content: '';
				position: absolute;
				top: 100%;
				margin-top: 2px;
				height: 1px;
				left: 0;
				right: 0;
				background: $black;
			}
		}
		
		&-meta {
			margin-left: 24px;
			font-size: .777777778rem;
			line-height: 1.07;
			color: transparentize($black, .55);
			position: relative;
			
			&:before {
				content: '';
				position: absolute;
				right: 100%;
				top: 50%;
				margin-top: -2px;
				margin-right: 10px;
				height: 4px;
				width: 4px;
				background: transparentize($black, .7);
				border-radius: 100%;
				display: block;
			}
		}
	}
}