<template lang="pug">
	router-link.search-position(:to="item.link")
		.search-position__icon(:style="{'background-image': 'url(' + item.icon + ')'}")
		.search-position__content
			.search-position__title(v-html="item.title")
			.search-position__description(v-html="item.description", v-if="item.description")
		icon-chevron.search-position__chevron
</template>

<script>
	import "./search-position.scss";
	
	export default {
		props: [
			'item'
		]
	}
</script>