@import "css-utils";

.search-position {
	$root: &;
	display: flex;
	align-items: center;
	border-radius: 5px;
	background-color: $white;
	box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.5);
	padding: 15px 15px 15px 20px;
	
	
	@media(min-width: $md) {
		padding: 15px 30px;
		box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
	}
	
	&:hover {
		box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.15);
		
		#{$root}__chevron {
			opacity: 1 !important;
		}
	}
	
	&__icon {
		height: 49px;
		width: 49px;
		border-radius: 100%;
		background: no-repeat center;
		background-size: cover;
		flex-shrink: 0;
		
		@media(min-width: $md) {
			height: 73px;
			width: 73px;
		}
	}
	
	&__content {
		margin-left: 20px;
		
		margin-right: auto;
	}
	
	&__title {
		font-size: .77777777778rem;
		font-weight: 600;
		line-height: 1.07;
		color: $black;
		
		
		@media(min-width: $md) {
			font-size: 1rem;
			line-height: .83;
		}
	}
	
	&__description {
		margin-top: 10px;
		opacity: 0.45;
		font-size: .777777777778rem;
		line-height: 1.07;
		color: $black;
		
		@media(max-width: #{$md - 1px}) {
			display: none;
		}
	}
	
	&__chevron {
		margin-left: 20px;
		display: block;
		height: 12px;
		width: 7px;
		opacity: .15;
		fill: $black;
		
		@media(min-width: $md) {
			height: 16px;
			width: 9px;
		}
	}
}