<template lang="pug">
	.c-footer
		.c-footer__container
			.c-footer__row
				.c-footer__col.c-footer__col--logo
					logo.c-footer__logo
				.c-footer__col.c-footer__col--map
					.c-footer__page(v-for="(page, index) in map", :key="index")
						router-link.c-footer__page-title(:to="page.route", v-html="page.title")
						.c-footer__page-components
							router-link.c-footer__page-component(
								v-for="(component, subIndex) in page.components",
								:key="subIndex",
								:to="getComponentRoute(page.route, component.key)",
								:data-route="JSON.stringify(page.route)",
								:data-key="component.key"
							)
								span(v-html="component.label")
					.c-footer__page
						router-link.c-footer__page-title(:to="{name: 'blog'}") Наш блог
						.c-footer__page-description Обозреваем индустрию, берём интерью у всяких людей
				.c-footer__col.c-footer__col--data
					.c-footer__phone(v-html="formattedPhone")
					.c-footer__phone-description(v-html="phoneDescription")
					.c-footer__email(v-html="email")
					.c-footer__email-description(v-html="emailDescription")
					.c-footer__socials
						a.c-footer__social(
						v-for="(social, index) in socials",
						:key="index",
						:href="social.link",
						target="_blank",
						:class="'c-footer__social--' + social.key"
						)
							component(:is="'icon-' + social.key")
					.c-footer__sidebar-actions
						button.c-footer__sidebar-action.c-footer__sidebar-action--projects(@click.stop="openSidebar('projects')") Все проекты
						.c-footer__sidebar-dot
						button.c-footer__sidebar-action(@click.stop="openSidebar('search')") Поиск
						.c-footer__sidebar-dot
						button.c-footer__sidebar-action(@click.stop="openSidebar('feedback')") Обратная связь
		.c-footer__bottom
			.c-footer__container
				.c-footer__bottom-row
					.c-footer__col.c-footer__col--up-button
						button.c-footer__up-button(@click="scrollToPx(0)")
							icon-chevron-rounded-o
					.c-footer__col.c-footer__col--copyright
						.c-footer__copyright(v-html="copyright")
						a.c-footer__policy(:href="policyLink") Политика обработки персональных данных
					.c-footer__col.c-footer__col--designer
						.c-footer__designer
							span Дизайн сайта —&nbsp;
							a.c-footer__designer-link(:href="designerLink", v-html="designer")
</template>

<script>
	import "./c-footer.scss";
	
	export default {
		components: {
			logo: require('../../../images/svg/logo-two-lines.svg')
		},
		computed: {
			formattedPhone() {
				return this.phone.replace(/[^\d]/g, '').replace(/^([7,8]{1})(\d{3})(\d{3})(\d{2})(\d{2})$/, '<i>8 $2</i> $3-$4-$5');
			}
		},
		methods: {
			getComponentRoute(route, anchor) {
				let newRoute = JSON.parse(JSON.stringify(route));
				
				newRoute.params.anchor = anchor;
				
				return newRoute;
			}
		},
		props: {
			phone: [Number, String],
			phoneDescription: String,
			
			email: String,
			emailDescription: String,
			socials: {
				type: Array,
				default() {
					return [];
				}
			},
			copyright: String,
			policyLink: String,
			designer: String,
			designerLink: String,
			map: Array
		}
	}
</script>