@import "css-utils";

.c-footer {
	$root: &;
	background: $black;
	color: $white;
	
	position: relative;
	
	padding: 45px 22px 37px;
	
	@media(min-width: $lt1) {
		padding-left: 26px;
		padding-right: 26px;
	}
	
	@media(min-width: $md1) {
		padding: 60px 51px 28px;
	}
	
	@media(min-width: $md1-5) {
		padding-left: 55px;
		padding-right: 55px;
	}
	
	@media(min-width: $md2) {
		padding-left: 58px;
		padding-right: 58px;
	}
	
	@media(min-width: $lg) {
		padding-left: 67px;
		padding-right: 67px;
	}
	
	@media(min-width: $xlg) {
		padding-left: 0;
		padding-right: 0;
	}
	
	&__container {
		@include container;
		
		@media(min-width: $lt1) {
			margin-left: 0;
			max-width: 270px;
		}
		
		@media(min-width: $lt2) {
			margin-left: 18.33333333%;
			margin-right: 18.33333333%;
			max-width: none;
		}
		
		@media(min-width: $md1) {
			margin: 0;
		}
		
		@media(min-width: $xlg) {
			max-width: 1546px;
			margin: 0 auto;
		}
	}
	
	&__row {
		display: flex;
		align-items: flex-start;
	}
	
	&__col {
		&--logo {
			flex-basis: 22.73%;
			flex-shrink: 0;
			
			@media(max-width: #{$md1 - 1}) {
				display: none;
			}
		}
		&--map {
			flex-grow: 1;
			
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			margin: -52px -30px 0;
			padding-right: 150px;
			
			@media(max-width: #{$md1 - 1}) {
				display: none;
			}
		}
		&--data {
			@media(min-width: $md1) {
				flex-basis: 293px;
				padding-right: 40px;
				flex-shrink: 0;
			}
		}
		
		@media(min-width: $md1) {
			&--up-button {
				flex-basis: 22.73%;
				flex-shrink: 0;
			}
			&--copyright {
				flex-grow: 1;
				display: flex;
				align-items: center;
			}
			&--designer {
				flex-basis: 293px;
			}
		}
	}
	
	&__page {
		flex-shrink: 0;
		padding: 0 30px;
		margin-top: 61px;
		position: relative;
		
		&-title,
		&-component span {
			font-size: .777777778rem;
			position: relative;
			
			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 100%;
				height: 1px;
				background: transparentize($white, .7);
			}
		}
		
		&-title {
			font-weight: 600;
			line-height: 1.43;
			color: $white;
			white-space: nowrap;
			
			&:after {
				margin-top: 1px;
			}
		}
		
		&-components {
			margin-top: -1px;
			display: flex;
			flex-direction: column;
		}
		
		&-component {
			display: block;
			margin-top: 19px;
			line-height: 1;
			color: #e5e5e5;
			
			span {
				display: inline-block;
				
				&:after {
					margin-top: 2px;
				}
			}
		}
		
		&-description {
			top: 1rem;
			left: 30px;
			font-size: .7777777777778rem;
			color: transparentize(#e5e5e5, .55);
			line-height: 1.43;
			position: absolute;
			width: 140px;
			transform: translateY(23px);
			
		}
	}
	
	&__logo {
		height: 70px;
		width: 100px;
		display: block;
		fill: $white;
		margin-top: 13px;
	}
	
	&__phone {
		display: inline-block;
		border-radius: 28px;
		box-shadow: 0 0 0 1px transparentize($white, .7);
		padding: 8px 20px 9px;
		
		line-height: 1.17;
		
		i {
			font-style: normal;
			opacity: .5;
		}
	}
	
	&__phone-description {
		margin-top: 17px;
		font-size: .777777777778rem;
		line-height: 1.43;
		color: transparentize($white, .55);
		padding-right: 10px;
		
		@media(min-width: $lt1) {
			padding-right: 0;
		}
	}
	
	&__email {
		font-size: .77777777778rem;
		line-height: 1.14;
		color: $white;
		position: relative;
		margin-top: 32px;
		display: inline-block;
		
		&:after {
			content: '';
			top: 100%;
			margin-top: 2px;
			background: transparentize($white, .7);
			height: 1px;
			left: 0;
			right: 0;
			display: block;
		}
	}
	
	&__email-description {
		margin-top: 17px;
		font-size: .7777777777778rem;
		line-height: 1.43;
		color: transparentize($white, .55);
		padding-right: 25px;
		
		@media(min-width: $lt1) {
			padding-right: 0;
		}
	}
	
	&__socials {
		display: flex;
		align-items: center;
		margin: 42px -15px 0;
	}
	
	&__social {
		margin: 0 15px;
		display: block;
		
		&--vkontakte {
			height: 11.1px;
			width: 19px;
			margin-top: 3px;
		}
		
		&--facebook {
			height: 18px;
			width: 9.3px;
		}
		
		&--telegram {
			height: 14.5px;
			width: 17.5px;
			margin-top: 2px;
		}
		
		&--instagram {
			height: 18px;
			width: 18px;
		}
		
		svg {
			display: block;
			height: 100%;
			width: 100%;
			fill: $white;
		}
	}
	
	&__sidebar-actions {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 25px;
		
		@media(min-width: $md1) {
			display: inline-flex;
			margin-left: -7.5px;
			margin-right: -7.5px;
			
			> * {
				margin-left: 7.5px;
				margin-right: 7.5px;
			}
		}
	}
	
	&__sidebar-action {
		display: block;
		position: relative;
		color: $white;
		font-size: .777777778rem;
		line-height: 1;
		
		&--projects {
			@media(min-width: $md1) {
				display: none;
				
				+ #{$root}__sidebar-dot {
					display: none;
				}
			}
		}
		
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			margin-top: 2px;
			left: 0;
			right: 0;
			height: 1px;
			display: block;
			background: transparentize($white, .7);
		}
	}
	
	&__sidebar-dot {
		content: '';
		display: block;
		height: 4px;
		width: 4px;
		margin-top: 2px;
		border-radius: 100%;
		background: transparentize($white, .7);
	}
	
	&__bottom-row {
		@media(min-width: $md1) {
			display: flex;
			align-items: flex-start;
		}
	}
	
	&__bottom {
		margin: 46px -22px 0;
		padding: 28px 22px 0;
		position: relative;
		
		@media(min-width: $lt1) {
			margin-left: -26px;
			margin-right: -26px;
			padding-left: 26px;
			padding-right: 26px;
		}
		
		@media(min-width: $md1) {
			margin-left: -51px;
			margin-right: -51px;
			padding-left: 51px;
			padding-right: 51px;
		}
		
		@media(min-width: $md1-5) {
			margin-left: -55px;
			margin-right: -55px;
			padding-left: 55px;
			padding-right: 55px;
		}
		
		@media(min-width: $md2) {
			margin-left: -58px;
			margin-right: -58px;
			padding-left: 58px;
			padding-right: 58px;
		}
		
		@media(min-width: $lg) {
			margin-left: -67px;
			margin-right: -67px;
			padding-left: 67px;
			padding-right: 67px;
		}
		
		@media(min-width: $xlg) {
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}
		
		@media(min-width: $xlg) {
			max-width: 1680px;
			margin-left: auto;
			margin-right: auto;
		}
		
		&:before {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			height: 1px;
			right: 0;
			left: 0;
			background: transparentize($white, .8);
		}
	}
	
	&__copyright {
		font-size: .7777777778rem;
		color: transparentize($white, .55);
		line-height: 1.07;
	}
	
	&__policy {
		margin-top: 10px;
		font-size: .7777777778rem;
		color: transparentize($white, .55);
		line-height: 1.07;
		position: relative;
		display: inline-block;
		
		@media(min-width: $md1) {
			margin-top: 0;
			margin-left: 34px;
			
			&:before {
				content: '';
				position: absolute;
				right: 100%;
				top: 50%;
				margin-top: -2px;
				margin-right: 15px;
				height: 4px;
				width: 4px;
				border-radius: 100%;
				display: block;
				background: transparentize($white, .8);
			}
		}
		
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			margin-top: 2px;
			left: 0;
			right: 0;
			height: 1px;
			display: block;
			background: transparentize($white, .7);
		}
	}
	
	&__designer {
		margin-top: 25px;
		font-size: .7777777778rem;
		color: transparentize($white, .55);
		line-height: 1.07;
		
		@media(min-width: $md1) {
			margin-top: 0;
		}
	}
	
	&__designer-link {
		position: relative;
		display: inline-block;
		color: transparentize($white, .55);
		
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			margin-top: 2px;
			left: 0;
			right: 0;
			height: 1px;
			display: block;
			background: transparentize($white, .7);
		}
	}
	
	&__up-button {
		@media(max-width: #{$md1 - 1}) {
			display: none;
		}
		height: 22px;
		width: 22px;
		display: block;
		
		svg {
			display: block;
			height: 100%;
			width: 100%;
			fill: transparentize($white, .8);
		}
	}
}