@import "css-utils";

.post-preview {
	$root: &;
	
	&:last-of-type {
		#{$root} {
			&__container {
				&:after {
					display: none;
				}
			}
		}
	}
	
	&--primary {
		background: no-repeat center;
		background-size: cover;
		padding-top: 35px;
		padding-bottom: 39px;
		position: relative;
		
		&:before {
			content: '';
			position: absolute;
			display: block;
			
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75));
		}
		
		> * {
			position: relative;
		}
		
		#{$root} {
			@media(min-width: $md) {
				padding-bottom: 85px;
				margin-top: 16px;
			}
			&__date-wrapper {
				&:after {
					background: $white;
					opacity: .5;
				}
			}
			&__date {
				color: $white;
			}
			&__title {
				margin-top: 128px;
				color: $white;
				font-size: 1.444444444rem;
				line-height: 1.35;
				
				@media(min-width: $lt1) {
					margin-top: 220px;
				}
				
				
				@media(min-width: $md) {
					font-family: 'Playfair Display', serif;
					font-size: 2.444444444rem;
					line-height: 1.25;
					margin-top: 279px;
				}
			}
			&__controls {
				margin-top: 27px;
				
				@media(min-width: $md) {
					margin-top: 33px;
				}
			}
			
			&__link {
				box-shadow: inset 0 0 0 1px transparentize($white, .5);
				color: $white;
			}
			&__group {
				&:before {
					background: transparentize($white, .5);
					position: relative;
					top: 1px;
				}
				color: $white;
				font-weight: 500;
				line-height: 1.5;
				position: relative;
				bottom: 1px;
			}
			
			&__container {
				&:after {
					display: none;
				}
			}
		}
	}
	
	&__container {
		@media(min-width: $md) {
			max-width: 960px;
			margin: 0 auto;
			padding-bottom: 69px;
			
			position: relative;
			
			&:after {
				content: '';
				position: absolute;
				bottom: -1px;
				left: 0;
				right: 0;
				height: 1px;
				border-radius: 1px;
				background-color: rgb(229, 229, 229);
			}
		}
	}
	
	&__left {
		@media(min-width: $md) {
			margin-right: auto;
		}
	}
	
	&__content {
		@media(min-width: $md) {
			display: flex;
			align-items: flex-start;
			flex-direction: row-reverse;
		}
	}
	
	&__date-wrapper {
		display: flex;
		align-items: center;
		
		@media(min-width: $md) {
			display: none;
		}
		
		&:after {
			content: '';
			height: 1px;
			flex-grow: 1;
			margin-left: 10px;
			border-radius: 1px;
			background: #e5e5e5;
			display: block;
		}
	}
	
	&__date {
		&--top {
			flex-shrink: 0;
			font-size: .777777777777778rem;
			font-weight: 600;
			line-height: 1.43;
			color: $black;
		}
	}
	
	&__thumbnail {
		height: 131px;
		background: no-repeat center;
		background-size: cover;
		border-radius: 5px;
		margin-top: 19px;
		
		@media(min-width: $md) {
			margin-top: 4px;
			height: 150px;
			width: 250px;
			flex-shrink: 0;
		}
	}
	
	&__title {
		margin-top: 16px;
		font-family: 'Playfair Display', serif;
		font-size: 1.22222222rem;
		font-weight: 600;
		line-height: 1.36;
		color: $black;
		
		@media(min-width: $md) {
			font-family: 'Gill Sans', sans-serif;
			margin-right: 205px;
			margin-top: 0;
			font-size: 1.3333333333rem;
			line-height: 1.25;
		}
	}
	
	&__description {
		margin-top: 9px;
		font-size: .77777777777778rem;
		line-height: 1.43;
		color: transparentize($black, .55);
		
		@media(min-width: $md) {
			color: transparentize($black, .4);
			line-height: 1.67;
			font-size: 1rem;
			margin-right: 114px;
			margin-top: 12px;
		}
	}
	
	&__controls {
		margin-top: 19px;
		display: flex;
		align-items: center;
		
		@media(min-width: $md) {
			margin-top: 23px;
		}
	}
	
	&__link {
		padding: 8px 15px;
		border-radius: 16px;
		box-shadow: inset 0 0 0 1px transparentize($black, .7);
		display: block;
		font-size: .777777777778rem;
		color: $black;
		
		@media(min-width: $md) {
			border-radius: 28px;
			box-shadow: inset 0 0 0 1px rgb(229, 229, 229);
			padding: 8px 20px;
			font-size: 1rem;
			line-height: 1.17;
		}
	}
	
	&__group {
		display: flex;
		align-items: center;
		
		font-family: 'Gill Sans Nova Medium', sans-serif;
		
		font-size: .7777777777778rem;
		font-weight: 500;
		line-height: 1.5;
		color: $black;
		
		&:before {
			content: '';
			margin: 0 15px;
			height: 4px;
			width: 4px;
			display: block;
			background: transparentize($black, .7);
			border-radius: 100%;
		}
	}
	
	&__date {
		&--bottom {
			@media(max-width: #{$md - 1}) {
				display: none;
			}
			
			display: flex;
			align-items: center;
			
			font-family: 'Gill Sans Nova Medium', sans-serif;
			
			font-size: .7777777777778rem;
			font-weight: 500;
			line-height: 1.5;
			color: $black;
			
			b {
				font-weight: 500;
				margin-right: 5px;
			}
			
			&:before {
				content: '';
				margin: 0 15px;
				height: 4px;
				width: 4px;
				display: block;
				background: transparentize($black, .7);
				border-radius: 100%;
			}
		}
	}
}