<template lang="pug">
	.post-preview(
		:style="{'background-image': post.primary ? 'url(' + post.background + ')' : false}",
		:class="{'post-preview--primary': post.primary || false}"
	)
		.post-preview__container
			.post-preview__date-wrapper
				.post-preview__date.post-preview__date--top(v-html="date")
			.post-preview__content
				.post-preview__thumbnail(v-if="post.thumbnail && !post.primary", :style="{'background-image': 'url(' + post.thumbnail + ')'}")
				.post-preview__left
					.post-preview__title(v-html="post.title")
					.post-preview__description(v-html="post.description", v-if="post.description")
					.post-preview__controls
						router-link.post-preview__link(:to="post.link") Читать
						.post-preview__group(v-html="post.group")
						.post-preview__date.post-preview__date--bottom(v-html="date")
	
</template>

<script>
	import "./post-preview.scss";
	
	import moment from 'moment';
	
	export default {
		computed: {
			date() {
				return moment.unix(this.post.date).format('D MMMM, YYYY');
			}
		},
		props: [
			'post'
		]
	}
</script>
