@import "css-utils";

.c-slider {
	position: relative;
	overflow: hidden;
	
	&__control {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 66px;
		padding: 0 22px;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		
		@media(min-width: $lt1) {
			padding: 0 26px;
			width: 74px;
		}
		
		@media(min-width: $lt2) {
			padding: 0 34px;
			width: 96px;
		}
		
		@media(min-width: $xs) {
			padding: 0 49px;
			width: 126px;
		}
		
		@media(min-width: $md1) {
			padding: 0 51px 55px;
			width: 128px;
		}
		
		@media(min-width: $xlg) {
			width: 269px;
		}
		
		svg {
			height: 22px;
			width: 22px;
			display: block;
			fill: $white;
		}
		
		&--previous {
			left: 0;
			
			@media(min-width: $xlg) {
				padding: 0 60px 55px 187px;
			}
			
			svg {
				transform: rotate(-90deg);
			}
		}
		
		&--next {
			right: 0;
			
			@media(min-width: $xlg) {
				padding: 0 187px 55px 60px;
			}
			
			svg {
				transform: rotate(90deg);
			}
		}
	}
	
	&__slide-wrapper {
		position: relative;
		&:before {
			content: '';
			display: block;
			padding-bottom: 66.875%;
			
			@media(min-width: $md1) {
				padding-bottom: 700px;
			}
		}
	}
	
	&__slide {
		background: no-repeat center;
		background-size: cover;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		
		@media(min-width: $md1) {
			left: 148px;
			right: 148px;
		}
		
		@media(min-width: $xlg) {
			left: 269px;
			right: 269px;
		}
		
		@media(min-width: $md1) {
			&--panorama {
				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					opacity: 0.75;
					background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), $black);
				}
			}
		}
	}
	
	&__panorama {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 2;
	}
	
	&__adjacent {
		@media(max-width: #{$md1 - 1}) {
			display: none;
		}
		
		background: no-repeat center;
		background-size: cover;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			opacity: 0.75;
			background-color: #151515;
		}
		
		&--prev {
			right: 100%;
		}
		
		&--next {
			left: 100%;
		}
	}
	
	&__toggle-panorama {
		@media(max-width: #{$md1 - 1}) {
			display: none;
		}
		
		position: absolute;
		top: 305px;
		left: 92px;
		display: flex;
		align-items: center;
		z-index: 1;
		
		&-icon {
			height: 50px;
			width: 50px;
			padding: 16px 15px 16px 19px;
			background: white;
			border-radius: 100%;
			box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.5);
			position: relative;
			
			&:before {
				content: '';
				position: absolute;
				left: -50px;
				top: -50px;
				right: -50px;
				bottom: -50px;
				box-shadow: 0 0 0 1px transparentize($white, .85);
				border-radius: 100%;
			}
		}
		
		svg {
			display: block;
			fill: $black;
			height: 100%;
		}
		
		span {
			padding-left: 15px;
			font-weight: 600;
			color: $white;
		}
	}
	
	&__dots {
		@media(max-width: #{$md1 - 1}) {
			display: none;
		}
		
		position: absolute;
		bottom: 35px;
		left: 262px;
		display: flex;
		align-items: center;
		margin: 0 -7.5px;
		
		@media(min-width: $xlg) {
			left: 383px;
		}
	}
	
	&__dot {
		
		height: 19px;
		width: 19px;
		padding: 7.5px;
		display: block;
		
		&:before {
			content: '';
			display: block;
			height: 100%;
			width: 100%;
			border-radius: 100%;
		}
		
		&:not(&--active) {
			&:before {
				background: transparentize($white, .5);
			}
		}
		
		&--active {
			padding: 5.5px;
			&:before {
				background: white;
			}
		}
	}
}