<template lang="pug">
	.c-slider
		.c-slider__controls
			button.c-slider__control.c-slider__control--previous(@click.stop="goToPreviousSlide", :disabled="!activeControls")
				icon-chevron-rounded-o
			button.c-slider__control.c-slider__control--next(@click.stop="goToNextSlide", :disabled="!activeControls")
				icon-chevron-rounded-o
		v-touch.c-slider__slide-wrapper(
			@swiperight="goToPreviousSlide",
			@swipeleft="goToNextSlide",
			:swipe-options="{direction: 'horizontal'}"
		)
			transition(:name="transitionName", @before-enter="beforeTransition", @after-leave="afterTransition")
				.c-slider__slide(
					v-for="(slide, index) in slides",
					:key="index",
					v-if="index === slideIndex",
					:style="{'background-image': 'url(' + slide.image + ')'}",
					:class="{'c-slider__slide--panorama': slide.panorama}"
					
				)
					.c-slider__adjacent.c-slider__adjacent--prev(:style="{'background-image': 'url(' + getSlideBodyByIndex(index - 1).image + ')'}")
					.c-slider__adjacent.c-slider__adjacent--next(:style="{'background-image': 'url(' + getSlideBodyByIndex(index + 1).image + ')'}")
					iframe.c-slider__panorama(v-if="enabledPanoramas.indexOf(index) > -1", :src="slide.panorama")
					button.c-slider__toggle-panorama(v-if="slide.panorama", @click.stop="startPanorama(index)")
						.c-slider__toggle-panorama-icon
							icon-play
						span Виртуальный тур
		.c-slider__dots
			button.c-slider__dot(v-for="(slide, index) in slides", :key="index", :class="{'c-slider__dot--active': index === slideIndex}", @click="slideIndex = index")
</template>

<style lang="scss">
	//@TODO
	.remove {
		.swipe-left {
			&-enter-active,
			&-leave-active {
				transition: 1s;
			}
			
			&-enter {
				transform: translateX(100%);
			}
			&-leave-to {
				transform: translateX(-100%);
			}
		}
		.swipe-right {
			&-enter-active,
			&-leave-active {
				transition: 1s;
			}
			&-enter {
				transform: translateX(-100%);
			}
			&-leave-to {
				transform: translateX(100%);
			}
		}
	}
</style>

<script>
	import "./c-slider.scss";
	
	import Vue from 'vue';
	
	export default {
		methods: {
			beforeTransition() {
				this.activeControls = false;
			},
			afterTransition() {
				this.activeControls = true;
			},
			getSlideByIndex(index) {
				if (index > this.slides.length - 1) {
					index = index - this.slides.length;
				} else if (index < 0) {
					index = this.slides.length + index;
				}
				
				return index;
			},
			getSlideBodyByIndex(index) {
				return this.slides[this.getSlideByIndex(index)];
			},
			goToSlide(index) {
				index = this.getSlideByIndex(index);
				
				this.enabledPanoramas = [];
				
				this.$nextTick(() => {
					this.slideIndex = index;
				});
			},
			goToPreviousSlide() {
				this.transitionDirection = -1;
				this.$nextTick(() => {
					this.goToSlide(this.slideIndex - 1);
				})
			},
			goToNextSlide() {
				this.transitionDirection = 1;
				this.$nextTick(() => {
					this.goToSlide(this.slideIndex + 1);
				})
			},
			startPanorama(index) {
				if(this.enabledPanoramas.indexOf(index) > -1) {
					let i = this.enabledPanoramas.findIndex((item) => {
						return item === index;
					});
					
					this.enabledPanoramas.splice(i, 1);
				}   else {
					this.enabledPanoramas.push(index);
				}
			}
		},
		computed: {
			transitionName() {
				return this.transitionDirection > 0 ? 'swipe-left' : 'swipe-right';
			},
			slide() {
				return this.slides[this.slideIndex];
			},
		},
		data() {
			return {
				enabledPanoramas: [],
				activeControls: true,
				transitionDirection: 1,
				slideIndex: 0,
			}
		},
		props: {
			slides: {
				type: Array,
				default() {
					return [];
				}
			}
		}
	}
</script>