<template lang="pug">
    .search-post
        .search-post__title(v-html="item.title")
        .search-post__description(v-html="item.description")
        .search-post__controls
            router-link.search-post__button(:to="item.link")
                span Читать
            .search-post__group(v-html="item.group", v-if="item.group")
            .search-post__address(v-html="address")
</template>

<script>
    import "./search-post.scss";

    import moment from 'moment';

    export default {
        computed: {
            address() {
                return moment.unix(this.item.date).format('D MMMM YYYY')
            }
        },
        props: [
            'item'
        ]
    }
</script>