@import "css-utils";

.search-post {
	&:not(:first-of-type) {
		margin-top: 38px;

		@media(min-width: $md) {
			margin-top: 43px;
		}
	}
	
	&__title {
		font-size: 1.2222222rem;
		font-weight: bold;
		font-family: 'Playfair Display', serif;
		line-height: 1.36;
		color: $white;

		@media(min-width: $md) {
			font-size: 1.55555555555556rem;
			line-height: 1.25;
			color: $black;

			br {
				display: none;
			}
		}
	}

	&__description {
		@media(max-width: #{$md - 1}) {
			display: none;
		}

		margin-top: 14px;
		opacity: 0.45;
		font-size: .77777777777778rem;
		line-height: 1.43;
		color: $black;
	}
	
	&__controls {
		margin-top: 15px;
		display: flex;
		align-items: center;

		@media(min-width: $md) {
			margin-top: 25px;
		}
	}
	
	&__button {
		padding: 8px 15px;
		color: $white;
		font-size: .7777777778rem;
		border-radius: 16px;
		box-shadow: inset 0 0 0 1px transparentize($white, .7);

		@media(min-width: $md) {
			padding: 8px 20px 9px;
			border-radius: 28px;
			box-shadow: inset 0 0 0 1px #e5e5e5;
			font-size: 1rem;
			line-height: 1.17;
			color: $black;
		}
	}
	
	&__address,
	&__group {
		font-size: .77777777778rem;
		line-height: 1.5;
		margin-left: 15px;
		color: $white;
		display: flex;
		align-items: center;

		@media(min-width: $md) {
			color: $black;
		}
		
		b {
			font-weight: 500;
			margin-right: 5px;
		}
		
		&:before {
			content: '';
			height: 4px;
			width: 4px;
			background: $white;
			opacity: .5;
			border-radius: 100%;
			margin-right: 15px;

			@media(min-width: $md) {
				background: $black;
				opacity: .3;
			}
		}
	}

	&__group {
		@media(max-width: #{$md - 1}) {
			display: none;
		}
	}
}