@import "css-utils";

.c-outsourcing {
	background: no-repeat center;
	background-size: cover;
	
	overflow: hidden;
	
	height: 160px;
	
	padding: 0 0 0 22px;
	
	@media(min-width: $lt1) {
		padding-left: 26px;
	}
	
	@media(min-width: $lt2) {
		height: 240px;
	}
	
	@media(min-width: $lt2) {
		height: auto;
		padding-top: 88px;
		padding-bottom: 72px;
	}
	
	@media(min-width: $md1) {
		padding-left: 0;
		pointer-events: none;
	}
	
	display: flex;
	align-items: center;
	position: relative;
	
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		opacity: 0.75;
		display: block;
		background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), $black);
	}
	
	&__container {
		@include container;
		
		flex-grow: 1;
		z-index: 1;
		
		
		@media(min-width: $md1) {
			max-width: 454px;
		}
		
		@media(min-width: $md1-5) {
			max-width: 485px;
		}
		
		@media(min-width: $md2) {
			max-width: 507px;
		}
		
		@media(min-width: $lg) {
			max-width: 594px;
		}
		
		@media(min-width: $xlg) {
			max-width: 594px;
		}
	}
	
	&__delimiter {
		display: flex;
		align-items: center;
		position: relative;
		
		@media(min-width: $md1) {
			&:before {
				content: '';
				position: absolute;
				right: 100%;
				top: 50%;
				transform: translateX(12px) translateY(-50%);
				height: 80px;
				width: 80px;
				border-radius: 100%;
				background: transparentize($black, .9);
			}
		}
		
		&-icon {
			height: 28px;
			width: 24px;
			background: no-repeat center;
			background-size: contain;
			flex-shrink: 0;
			
			@media(min-width: $md1) {
				position: absolute;
				right: 100%;
				top: 50%;
				transform: translateX(-12px) translateY(-50%);
				z-index: 1;
			}
		}
		
		&-text {
			margin-left: 8px;
			margin-right: 10px;
			font-weight: 600;
			line-height: 1.11;
			color: $white;
			flex-shrink: 0;
			
			@media(min-width: $md1) {
				position: relative;
				z-index: 1;
				margin: 0;
			}
		}
		
		&:after {
			content: '';
			display: block;
			height: 1px;
			flex-grow: 1;
			border-bottom-left-radius: 1px;
			background: transparentize($white, .7);
			
			@media(min-width: $lt2) {
				width: 100vw;
				flex-shrink: 0;
			}
			
			@media(min-width: $md1) {
				display: none;
			}
		}
	}
	
	&__title {
		@media(max-width: #{$md1 - 1}) {
			display: none;
		}
		
		margin-top: 50px;
		font: bold 2rem 'Playfair Display', serif;
		line-height: 1.11;
		color: $white;
	}
	
	&__description {
		@media(max-width: #{$md1 - 1}) {
			display: none;
		}
		
		margin-top: 16px;
		line-height: 1.39;
		color: $white;
	}
	
	&__button {
		@media(max-width: #{$md1 - 1}) {
			display: none;
		}
		
		margin-top: 29px;
		border-radius: 28px;
		box-shadow: 0 0 0 1px transparentize($white, .5);
		padding: 8px 20px 9px;
		display: inline-block;
		line-height: 1.17;
		color: $white;
		
		
		@media(min-width: $md1) {
			pointer-events: all;
		}
	}
}