<template lang="pug">
	.c-outsourcing(:style="{'background-image': 'url(' + background + ')'}", @click="$router.push(route)")
		.c-outsourcing__container
			.c-outsourcing__delimiter
				.c-outsourcing__delimiter-icon(:style="{'background-image': 'url(' + icon + ')'}")
				.c-outsourcing__delimiter-text(v-html="delimiter")
			.c-outsourcing__title(v-html="title")
			.c-outsourcing__description(v-html="description")
			router-link.c-outsourcing__button(:to="route", v-html="buttonText")
</template>

<script>
	import "./c-outsourcing.scss";
	
	export default {
		computed: {
			route() {
				return {name: 'page', params: {page: this.routeParam}}
			}
		},
		props: {
			icon: String,
			background: String,
			delimiter: String,
			title: String,
			description: String,
			buttonText: String,
			routeParam: String
		}
	}
</script>