<template lang="pug">
	textarea.field-textarea(
		:placeholder="meta.placeholder",
		:name="meta.name",
		v-model="value",
		:rows="meta.rows",
		:class="{'field-textarea--invalid': errors}"
	)
</template>

<script>
	import "./field-textarea.scss";
	
	export default {
		watch: {
			meta: {
				deep: true,
				handler(item) {
					this.value = item.value;
				}
			},
			value(value) {
				this.$emit('updateValue', this.meta.name, value);
			}
		},
		data() {
			return {
				value: this.meta.value
			}
		},
		props: [
			'meta', 'errors'
		]
	}
</script>