<template lang="pug">
	.field-radio
		.field-radio__items
			.field-radio__item(
				v-for="(option, index) in meta.options",
				:key="index",
			)
				input.field-radio__input(
					type="radio",
					:name="meta.name",
					:value="option.text",
					v-model="value",
					:id="id(index)",
					:class="{'field-radio__input--invalid': errors}"
				)
				label.field-radio__label(v-html="option.text", :for="id(index)")
</template>

<script>
	import "./field-radio.scss";
	
	export default {
		methods: {
			id(index) {
				return this._uid + '-' + this.meta.name + '-' + index;
			}
		},
		watch: {
			meta: {
				deep: true,
				handler(item) {
					this.value = item.value;
				}
			},
			value(value) {
				this.$emit('updateValue', this.meta.name, value);
			}
		},
		data() {
			return {
				value: this.meta.value
			}
		},
		props: [
			'meta', 'errors'
		]
	}
</script>