@import "css-utils";

.field-textarea {
	$root: &;
	margin-top: 15px;
	box-shadow: inset 0 0 0 2px $white;
	border-radius: 5px;
	padding: 14px 20px 38px 20px;
	width: 100%;
	caret-color: #004ce6;
	
	line-height: 1.39;
	color: $white;
	
	&::placeholder {
		color: $white;
		opacity: 0.4;
	}
	
	&:hover {
		&::placeholder {
			opacity: 1;
		}
	}
	
	&--invalid {
		&:not(:focus) {
			color: #ff5959 !important;
			
			&::placeholder {
				color: #ff5959 !important;
			}
		}
	}
}
