<template lang="pug">
	.field-text
		input.field-text__input(
			:type="meta.type || 'text'",
			:placeholder="meta.placeholder",
			:name="meta.name",
			v-model="value",
			:class="{'field-text__input--invalid': errors}"
		)
</template>

<script>
	import "./field-text.scss";
	
	export default {
		watch: {
			meta: {
				deep: true,
				handler(item) {
					this.value = item.value;
				}
			},
			value(value) {
				this.$emit('updateValue', this.meta.name, value);
			}
		},
		data() {
			return {
				value: this.meta.value
			}
		},
		props: [
			'meta', 'errors'
		]
	}
</script>