@import "css-utils";

.field-text {
	$root: &;
	
	@include input;
	
	&:after {
	
	}
	
	&__input {
		@include input-control;
		font-weight: 400;
		
		&--invalid {
			&:not(:focus) {
				color: #ff5959 !important;
				
				&::placeholder {
					color: #ff5959 !important;
				}
			}
		}
	}
}