@import "css-utils";

.field-radio {
	padding: 6px 0 0;
	
	&__items {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 -10px;
	}
	
	&__item {
		padding: 21px 10px 0;
	}
	
	&__label {
		padding: 8px 15px;
		border-radius: 28px;
		box-shadow: inset 0 0 0 1px transparentize(#e5e5e5, .7);
		font-size: .777777777778rem;
		line-height: 1.14;
		color: transparentize($white, .5);
		display: block;
		
		&:hover {
			box-shadow: inset 0 0 0 2px $white;
			color: $white;
		}
	}
	
	&__input {
		position: absolute;
		
		&:checked {
			+ label {
				box-shadow: inset 0 0 0 2px $white;
				color: $white;
			}
		}
		
		&--invalid {
			+ label {
				box-shadow: inset 0 0 0 1px transparentize(#ff5959, .7) !important;
				color: #ff5959 !important;
			}
			
			&:checked {
				+ label {
					box-shadow: inset 0 0 0 2px transparentize(#ff5959, .7) !important;
				}
			}
		}
	}
}