<template lang="pug">
	.form-group(:class="{'form-group--invalid': errors}")
		label.form-group__label(
			v-if="item.meta.label",
			v-html="item.meta.label",
			:class="{'form-group__label--bold': ['radio'].indexOf(item.type) > -1 }"
		)
		component.form-group__field(:is="'field-' + item.type", :meta="item.meta", @updateValue="updateValue", :errors="errors")
</template>

<script>
	import "./group.scss";
	
	export default {
		methods: {
			updateValue(name, value) {
				this.$emit('updateValue', name, value);
			}
		},
		props: [
			'item',
			'errors'
		]
	}
</script>